{
  "swagger": "2.0",
  "info": {
    "description": "폭염위험 및 한파위험에 따른 위험 수준과 각 분야별 대응 요령을 조회하는 서비스 (폭염 및 한파위험 수준이 예상될 때 전일 발표)\\n(참고)  위험단계는 다음과 같이 구분됩니다.\\n- 관심: 일상적인 활동이 조금 불편한 수준, 취약한 대상에서는 일부 피해가 예상되는 수준\\n- 주의: 해당 지역 일부에서 다소 피해가 예상되는 수준\\n- 경고: 해당 지역 곳곳에서 현저한 피해가 나타나 영향이 단기간 지속될 것으로 예상되는 수준\\n- 위험: 해당 지역 대부분에 피해가 있고, 곳곳에 극심한 피해가 나타나 영향이 장기간 지속될 것으로 예상되는 수준",
    "version": "1.0.0",
    "title": "기상청_영향예보_조회서비스"
  },
  "host": "apis.data.go.kr/1360000/ImpactInfoServiceV2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getHWImpactValueV2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "numOfRows": {
                  "type": "string",
                  "description": "한 페이지당 표출 데이터 수",
                  "properties": {}
                },
                "pageNo": {
                  "type": "string",
                  "description": "페이지 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "string",
                  "description": "데이터 총 개수",
                  "properties": {}
                },
                "resultCode": {
                  "type": "string",
                  "description": "응답 메시지코드",
                  "properties": {}
                },
                "resultMsg": {
                  "type": "string",
                  "description": "응답 메시지 설명",
                  "properties": {}
                },
                "dataType": {
                  "type": "string",
                  "description": "응답자료형식 (XML/JSON)",
                  "properties": {}
                },
                "regId": {
                  "type": "string",
                  "description": "예보구역코드",
                  "properties": {}
                },
                "tmEf": {
                  "type": "string",
                  "description": "발표일자 년월일- 보건 분야 관심단계 이상 예상 시 전일 발표(일 1회, 11:30)",
                  "properties": {}
                },
                "regName": {
                  "type": "string",
                  "description": "예보구역명(한글)",
                  "properties": {}
                },
                "clsfc": {
                  "type": "string",
                  "description": "폭염 영향 분야 (보건(일반인), 보건(취약인), 산업, 축산업, 농업, 수산양식, 기타)",
                  "properties": {}
                },
                "value": {
                  "type": "string",
                  "description": "폭염 위험수준 (관심, 주의, 경고, 위험)",
                  "properties": {}
                },
                "efSn": {
                  "type": "string",
                  "description": "예보기준일(1: 내일, 2:모레)",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "폭염위험수준조회",
        "description": "폭염 영향예보의 발표일자, 예보구역, 영향 분야, 영향도를 조회하는 기능",
        "operationId": "getHWImpactValueV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수 Default: 10",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지 번호Default: 1",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dataType",
          "description": "요청자료형식(XML/JSON)Default: XML",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "regId",
          "description": "예보구역코드 *별첨 엑셀 자료 참조",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "tm",
          "description": "조회일자 년월일(yyyymmdd)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "efSn",
          "description": "예보일(1: 내일, 2:모레, 3:전체)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCWImpactValueV2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "numOfRows": {
                  "type": "string",
                  "description": "한 페이지당 표출 데이터 수",
                  "properties": {}
                },
                "pageNo": {
                  "type": "string",
                  "description": "페이지 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "string",
                  "description": "데이터 총 개수",
                  "properties": {}
                },
                "resultCode": {
                  "type": "string",
                  "description": "응답 메시지코드",
                  "properties": {}
                },
                "resultMsg": {
                  "type": "string",
                  "description": "응답 메시지 설명",
                  "properties": {}
                },
                "dataType": {
                  "type": "string",
                  "description": "응답자료형식 (XML/JSON)",
                  "properties": {}
                },
                "regId": {
                  "type": "string",
                  "description": "예보구역코드",
                  "properties": {}
                },
                "tmEf": {
                  "type": "string",
                  "description": "발표일자 년월일- 보건 분야 관심단계 이상 예상 시 전일 발표(일 1회, 11:30)",
                  "properties": {}
                },
                "regName": {
                  "type": "string",
                  "description": "예보구역명(한글)",
                  "properties": {}
                },
                "clsfc": {
                  "type": "string",
                  "description": "한파 영향 분야 (보건, 산업, 시설물, 농축산업, 수산양식, 기타)",
                  "properties": {}
                },
                "value": {
                  "type": "string",
                  "description": "한파 위험수준 (관심, 주의, 경고, 위험)",
                  "properties": {}
                },
                "efSn": {
                  "type": "string",
                  "description": "예보기준일(1: 내일, 2:모레)",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "한파위험수준조회",
        "description": "한파 영향예보의 발표일자, 예보구역, 영향 분야, 영향도를 조회하는 기능",
        "operationId": "getCWImpactValueV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수 Default: 10",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지 번호Default: 1",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dataType",
          "description": "요청자료형식(XML/JSON)Default: XML",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "regId",
          "description": "예보구역코드 *별첨 엑셀 자료 참조",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "tm",
          "description": "조회일자 년월일(yyyymmdd)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "efSn",
          "description": "예보기준일(1: 내일, 2:모레, 3:전체)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getHWCntrmsrMthdV2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "numOfRows": {
                  "type": "string",
                  "description": "한 페이지당 표출 데이터 수",
                  "properties": {}
                },
                "pageNo": {
                  "type": "string",
                  "description": "페이지 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "string",
                  "description": "데이터 총 개수",
                  "properties": {}
                },
                "resultCode": {
                  "type": "string",
                  "description": "응답 메시지코드",
                  "properties": {}
                },
                "resultMsg": {
                  "type": "string",
                  "description": "응답 메시지 설명",
                  "properties": {}
                },
                "dataType": {
                  "type": "string",
                  "description": "응답자료형식 (XML/JSON)",
                  "properties": {}
                },
                "clsfc": {
                  "type": "string",
                  "description": "폭염 영향 분야 (보건(일반인), 보건(취약인), 산업, 축산업, 농업, 수산양식, 기타 )",
                  "properties": {}
                },
                "value": {
                  "type": "string",
                  "description": "폭염 위험지수 (관심, 주의, 경고, 심각)",
                  "properties": {}
                },
                "cntrmsrCode": {
                  "type": "string",
                  "description": "대응요령 코드",
                  "properties": {}
                },
                "cntrmsrMthdShrt": {
                  "type": "string",
                  "description": "분야별 대응요령 단문",
                  "properties": {}
                },
                "cntrmsrMthd": {
                  "type": "string",
                  "description": "분야별 대응요령",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "폭염분야별대응기준조회",
        "description": "폭염에 따른 영향 분야별 대응기준 및 대응 요령을 조회하는 기능",
        "operationId": "getHWCntrmsrMthdV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수 Default: 10",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지 번호 Default: 1",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dataType",
          "description": "요청자료형식(XML/JSON)Default: XML",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "clsfc",
          "description": "폭염 영향 분야 (1.보건(일반인), 2.보건(취약인), 3.산업, 4.축산업, 5.농업, 6.수산양식, 7.기타)",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getCWCntrmsrMthdV2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "numOfRows": {
                  "type": "string",
                  "description": "한 페이지당 표출 데이터 수",
                  "properties": {}
                },
                "pageNo": {
                  "type": "string",
                  "description": "페이지 수",
                  "properties": {}
                },
                "totalCount": {
                  "type": "string",
                  "description": "데이터 총 개수",
                  "properties": {}
                },
                "resultCode": {
                  "type": "string",
                  "description": "응답 메시지코드",
                  "properties": {}
                },
                "resultMsg": {
                  "type": "string",
                  "description": "응답 메시지 설명",
                  "properties": {}
                },
                "dataType": {
                  "type": "string",
                  "description": "응답자료형식 (XML/JSON)",
                  "properties": {}
                },
                "clsfc": {
                  "type": "string",
                  "description": "한파 영향 분야 (보건, 산업, 시설물, 농축산업, 수산양식, 기타)",
                  "properties": {}
                },
                "value": {
                  "type": "string",
                  "description": "한파 위험지수 (관심, 주의, 경고, 심각)",
                  "properties": {}
                },
                "cntrmsrCode": {
                  "type": "string",
                  "description": "대응기준코드",
                  "properties": {}
                },
                "cntrmsrMthdShrt": {
                  "type": "string",
                  "description": "분야별 대응요령 단문",
                  "properties": {}
                },
                "cntrmsrMthd": {
                  "type": "string",
                  "description": "분야별 대응요령",
                  "properties": {}
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "": {
            "description": ""
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "한파분야별대응기준조회",
        "description": "한파에 따른 영향 분야별 대응기준 및 대응 요령을 조회하는 기능",
        "operationId": "getCWCntrmsrMthdV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 발급받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수 Default: 10",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지 번호 Default: 1",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dataType",
          "description": "요청자료형식(XML/JSON)Default: XML",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "clsfc",
          "description": "한파 영향 분야 (1.보건, 2.산업, 3.시설물, 4.농축산업, 5.수산양식, 6.기타, 7.보건(취약인))",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getHWImpactValueV2_response": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "string",
          "description": "한 페이지당 표출 데이터 수"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지 수"
        },
        "totalCount": {
          "type": "string",
          "description": "데이터 총 개수"
        },
        "resultCode": {
          "type": "string",
          "description": "응답 메시지코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "응답 메시지 설명"
        },
        "dataType": {
          "type": "string",
          "description": "응답자료형식 (XML/JSON)"
        },
        "regId": {
          "type": "string",
          "description": "예보구역코드"
        },
        "tmEf": {
          "type": "string",
          "description": "발표일자 년월일- 보건 분야 관심단계 이상 예상 시 전일 발표(일 1회, 11:30)"
        },
        "regName": {
          "type": "string",
          "description": "예보구역명(한글)"
        },
        "clsfc": {
          "type": "string",
          "description": "폭염 영향 분야 (보건(일반인), 보건(취약인), 산업, 축산업, 농업, 수산양식, 기타)"
        },
        "value": {
          "type": "string",
          "description": "폭염 위험수준 (관심, 주의, 경고, 위험)"
        },
        "efSn": {
          "type": "string",
          "description": "예보기준일(1: 내일, 2:모레)"
        }
      }
    },
    "getCWImpactValueV2_response": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "string",
          "description": "한 페이지당 표출 데이터 수"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지 수"
        },
        "totalCount": {
          "type": "string",
          "description": "데이터 총 개수"
        },
        "resultCode": {
          "type": "string",
          "description": "응답 메시지코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "응답 메시지 설명"
        },
        "dataType": {
          "type": "string",
          "description": "응답자료형식 (XML/JSON)"
        },
        "regId": {
          "type": "string",
          "description": "예보구역코드"
        },
        "tmEf": {
          "type": "string",
          "description": "발표일자 년월일- 보건 분야 관심단계 이상 예상 시 전일 발표(일 1회, 11:30)"
        },
        "regName": {
          "type": "string",
          "description": "예보구역명(한글)"
        },
        "clsfc": {
          "type": "string",
          "description": "한파 영향 분야 (보건, 산업, 시설물, 농축산업, 수산양식, 기타)"
        },
        "value": {
          "type": "string",
          "description": "한파 위험수준 (관심, 주의, 경고, 위험)"
        },
        "efSn": {
          "type": "string",
          "description": "예보기준일(1: 내일, 2:모레)"
        }
      }
    },
    "getHWCntrmsrMthdV2_response": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "string",
          "description": "한 페이지당 표출 데이터 수"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지 수"
        },
        "totalCount": {
          "type": "string",
          "description": "데이터 총 개수"
        },
        "resultCode": {
          "type": "string",
          "description": "응답 메시지코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "응답 메시지 설명"
        },
        "dataType": {
          "type": "string",
          "description": "응답자료형식 (XML/JSON)"
        },
        "clsfc": {
          "type": "string",
          "description": "폭염 영향 분야 (보건(일반인), 보건(취약인), 산업, 축산업, 농업, 수산양식, 기타 )"
        },
        "value": {
          "type": "string",
          "description": "폭염 위험지수 (관심, 주의, 경고, 심각)"
        },
        "cntrmsrCode": {
          "type": "string",
          "description": "대응요령 코드"
        },
        "cntrmsrMthdShrt": {
          "type": "string",
          "description": "분야별 대응요령 단문"
        },
        "cntrmsrMthd": {
          "type": "string",
          "description": "분야별 대응요령"
        }
      }
    },
    "getCWCntrmsrMthdV2_response": {
      "type": "object",
      "properties": {
        "numOfRows": {
          "type": "string",
          "description": "한 페이지당 표출 데이터 수"
        },
        "pageNo": {
          "type": "string",
          "description": "페이지 수"
        },
        "totalCount": {
          "type": "string",
          "description": "데이터 총 개수"
        },
        "resultCode": {
          "type": "string",
          "description": "응답 메시지코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "응답 메시지 설명"
        },
        "dataType": {
          "type": "string",
          "description": "응답자료형식 (XML/JSON)"
        },
        "clsfc": {
          "type": "string",
          "description": "한파 영향 분야 (보건, 산업, 시설물, 농축산업, 수산양식, 기타)"
        },
        "value": {
          "type": "string",
          "description": "한파 위험지수 (관심, 주의, 경고, 심각)"
        },
        "cntrmsrCode": {
          "type": "string",
          "description": "대응기준코드"
        },
        "cntrmsrMthdShrt": {
          "type": "string",
          "description": "분야별 대응요령 단문"
        },
        "cntrmsrMthd": {
          "type": "string",
          "description": "분야별 대응요령"
        }
      }
    }
  }
}