{
  "swagger": "2.0",
  "info": {
    "description": "금융용어사전 조회를 할 수 있는 API조회 서비스입니다. 금융용어를 입력 값에 입력하면, 해당 용어에 맞는 용어설명을 출력값으로 받아볼 수 있습니다. 용어설명은 HTML 태그 등을 포함하고 있습니다. 금융용어명의 항목 크기는 200이며, 용어설명의 항목 크기는 4000입니다. 금융 용어의 이해를 돕기 위해 제공되는 API이며, 용어 정의와 함께 관련 문맥에서 활용되는 뜻을 추가적으로 지원합니다. 예시로, 대량주식 보유상황 공시제도를 검색하면 통상 5% rule의 의미로 사용되며, 상장주식의 5% 이상 보유 사실 및 그 후 지분변동 사실을 즉시 공시시킴으로써 증권거래의 투명성을 확보하고자 한 장치 라는 용어의 정의 및 설명이 나와있습니다. 그리고 어떤 경우에 발동되는 규칙인지 등 자세한 용어에 대한 설명을 알 수 있습니다.",
    "version": "1.0.0",
    "title": "한국예탁결제원_금융용어조회서비스_GW"
  },
  "host": "apis.data.go.kr/B552481/FnTermSvc",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getFinancialTermMeaning": {
      "get": {
        "responses": {
          "3": {
            "description": "NODATA_ERROR(데이터 없음)"
          },
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터)"
          },
          "11": {
            "description": "NO_MANDATORY_REQUEST_PARAMETER_ERROR(필수요청 파라메터가 없음)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "fnceDictNm": {
                              "type": "string",
                              "description": "금융용어명",
                              "properties": {}
                            },
                            "ksdFnceDictDescContent": {
                              "type": "string",
                              "description": "용어설명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 번호",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "금융용어사전 조회",
        "description": "금융용어사전 조회한다.",
        "operationId": "getFinancialTermMeaning",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "term",
          "description": "용어명",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getFinancialTermMeaning_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "fnceDictNm": {
                      "type": "string",
                      "description": "금융용어명"
                    },
                    "ksdFnceDictDescContent": {
                      "type": "string",
                      "description": "용어설명"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 번호"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    }
  }
}