{
  "swagger": "2.0",
  "info": {
    "description": "기타_담배도매업 데이터는 제조업자 또는 수입판매업자로부터 담배를 매입하여 다른 도매업자 또는 소매인에게 판매하는 담배도매업 데이터로 인허가일자, 영업상태, 사업장명, 소재지주소 등의 데이터를 제공합니다.\\r\\n- 공공데이터 제공 표준 기준, 전국 자치단체에서 관리하는 담배도매업 인허가 정보를 일괄 취합하여 전국 데이터로 제공\\r\\n- 자료는 동일한 서식과 용어로 정리하여 인허가 현황을 일관되게 안내\\r\\n- 해당 데이터에 대한 추가적인 자료 요청시 지자체 및 소관기관 담당자에게 문의\\r\\n- 해당 데이터 법령 소관기관 및 문의처 : 재정경제부 출자관리과 / 044-215-5176\\r\\n * 좌표계 : 보정계수 안들어간 Bessel 중부원점TM(EPSG:5174)",
    "version": "1.0.0",
    "title": "행정안전부_기타_담배도매업 조회서비스"
  },
  "host": "apis.data.go.kr/1741000/tobacco_wholesalers",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/info": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "description": "response",
                  "properties": {
                    "header": {
                      "type": "object",
                      "description": "응답 데이터의 헤더",
                      "properties": {
                        "resultCode": {
                          "type": "string",
                          "description": "응답의 결과 코드",
                          "properties": {}
                        },
                        "resultMsg": {
                          "type": "string",
                          "description": "응답의 결과 메세지",
                          "properties": {}
                        }
                      }
                    },
                    "body": {
                      "type": "object",
                      "description": "응답 데이터의 바디",
                      "properties": {
                        "dataType": {
                          "type": "string",
                          "description": "응답의 데이터 타입",
                          "properties": {}
                        },
                        "numOfRows": {
                          "type": "integer",
                          "description": "한 페이지 결과 수",
                          "properties": {}
                        },
                        "pageNo": {
                          "type": "integer",
                          "description": "페이지번호",
                          "properties": {}
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "응답 데이터의 수",
                          "properties": {}
                        },
                        "items": {
                          "type": "object",
                          "description": "items",
                          "properties": {
                            "item": {
                              "type": "array",
                              "description": "item",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "OPN_ATMY_GRP_CD": {
                                    "type": "string",
                                    "description": "개방자치단체코드",
                                    "properties": {}
                                  },
                                  "MNG_NO": {
                                    "type": "string",
                                    "description": "관리번호",
                                    "properties": {}
                                  },
                                  "CGRTT_SPLY_BZENTY_NM": {
                                    "type": "string",
                                    "description": "담배공급업체명",
                                    "properties": {}
                                  },
                                  "DAT_UPDT_SE": {
                                    "type": "string",
                                    "description": "데이터갱신구분",
                                    "properties": {}
                                  },
                                  "DAT_UPDT_PNT": {
                                    "type": "string",
                                    "description": "데이터갱신시점(YYYYMMDDHHMMSS)",
                                    "properties": {}
                                  },
                                  "ROAD_NM_ZIP": {
                                    "type": "string",
                                    "description": "도로명우편번호",
                                    "properties": {}
                                  },
                                  "ROAD_NM_ADDR": {
                                    "type": "string",
                                    "description": "도로명주소",
                                    "properties": {}
                                  },
                                  "BPLC_NM": {
                                    "type": "string",
                                    "description": "사업장명",
                                    "properties": {}
                                  },
                                  "DTL_SALS_STTS_NM": {
                                    "type": "string",
                                    "description": "상세영업상태명",
                                    "properties": {}
                                  },
                                  "DTL_SALS_STTS_CD": {
                                    "type": "string",
                                    "description": "상세영업상태코드",
                                    "properties": {}
                                  },
                                  "SALS_STTS_NM": {
                                    "type": "string",
                                    "description": "영업상태명",
                                    "properties": {}
                                  },
                                  "SALS_STTS_CD": {
                                    "type": "string",
                                    "description": "영업상태코드",
                                    "properties": {}
                                  },
                                  "LCPMT_YMD": {
                                    "type": "string",
                                    "description": "인허가일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "LCPMT_RTRCN_YMD": {
                                    "type": "string",
                                    "description": "인허가취소일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "TELNO": {
                                    "type": "string",
                                    "description": "전화번호",
                                    "properties": {}
                                  },
                                  "CRD_INFO_X": {
                                    "type": "string",
                                    "description": "좌표정보(X)",
                                    "properties": {}
                                  },
                                  "CRD_INFO_Y": {
                                    "type": "string",
                                    "description": "좌표정보(Y)",
                                    "properties": {}
                                  },
                                  "LOTNO_ADDR": {
                                    "type": "string",
                                    "description": "지번주소",
                                    "properties": {}
                                  },
                                  "HNDL_PRDCT_NM": {
                                    "type": "string",
                                    "description": "취급제품명",
                                    "properties": {}
                                  },
                                  "CLSBIZ_YMD": {
                                    "type": "string",
                                    "description": "폐업일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "TCBIZ_BGNG_YMD": {
                                    "type": "string",
                                    "description": "휴업시작일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "TCBIZ_END_YMD": {
                                    "type": "string",
                                    "description": "휴업종료일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "LCTN_ZIP": {
                                    "type": "string",
                                    "description": "소재지우편번호",
                                    "properties": {}
                                  },
                                  "LAST_MDFCN_PNT": {
                                    "type": "string",
                                    "description": "최종수정시점(YYYYMMDDHHMMSS)",
                                    "properties": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "-1": {
            "description": "시스템 내부 오류가 발생하였습니다."
          },
          "-2": {
            "description": "요청하신 파라미터가 적합하지 않습니다."
          },
          "-3": {
            "description": "등록되지 않은 서비스 입니다."
          },
          "-4": {
            "description": "등록되지 않은 인증키 입니다."
          },
          "-5": {
            "description": "API 서버 오류가 발생하였습니다."
          },
          "-9": {
            "description": "종료된 서비스 입니다."
          },
          "-10": {
            "description": "트래픽 허용 횟수를 초과하였습니다."
          },
          "-11": {
            "description": "필수 파라미터가 입력되지 않았습니다."
          },
          "-999": {
            "description": "UNKNOWN"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "기타_담배도매업 데이터 조회",
        "description": "기타_담배도매업 데이터를 조회 하기 위한 오퍼레이션 입니다.<br/>해당 데이터는 매일 갱신되는 데이터로 2일전 기준으로 현행화 됩니다.",
        "operationId": "info",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수(max: 100)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "응답의 데이터 타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[LCPMT_YMD::GTE]",
          "description": "인허가일자 이상의 값(YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[LCPMT_YMD::LT]",
          "description": "인허가일자 미만의 값(YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[SALS_STTS_CD::EQ]",
          "description": "영업상태코드 와 일치하는 값",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[BPLC_NM::LIKE]",
          "description": "사업장명 을(를) 포함하는 값",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[ROAD_NM_ADDR::LIKE]",
          "description": "도로명주소 을(를) 포함하는 값",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[HNDL_PRDCT_NM::LIKE]",
          "description": "취급제품명 을(를) 포함하는 값",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[DAT_UPDT_PNT::GTE]",
          "description": "데이터갱신시점 이상의 값(YYYYMMDDHHMMSS)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[DAT_UPDT_PNT::LT]",
          "description": "데이터갱신시점 미만의 값(YYYYMMDDHHMMSS)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[OPN_ATMY_GRP_CD::EQ]",
          "description": "개방자치단체코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/history": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "description": "response",
                  "properties": {
                    "header": {
                      "type": "object",
                      "description": "응답 데이터의 헤더",
                      "properties": {
                        "resultCode": {
                          "type": "string",
                          "description": "응답의 결과 코드",
                          "properties": {}
                        },
                        "resultMsg": {
                          "type": "string",
                          "description": "응답의 결과 메세지",
                          "properties": {}
                        }
                      }
                    },
                    "body": {
                      "type": "object",
                      "description": "응답 데이터의 바디",
                      "properties": {
                        "dataType": {
                          "type": "string",
                          "description": "응답의 데이터 타입",
                          "properties": {}
                        },
                        "numOfRows": {
                          "type": "integer",
                          "description": "한 페이지 결과 수",
                          "properties": {}
                        },
                        "pageNo": {
                          "type": "integer",
                          "description": "페이지번호",
                          "properties": {}
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "응답 데이터의 수",
                          "properties": {}
                        },
                        "items": {
                          "type": "object",
                          "description": "items",
                          "properties": {
                            "item": {
                              "type": "array",
                              "description": "item",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "OPN_ATMY_GRP_CD": {
                                    "type": "string",
                                    "description": "개방자치단체코드",
                                    "properties": {}
                                  },
                                  "MNG_NO": {
                                    "type": "string",
                                    "description": "관리번호",
                                    "properties": {}
                                  },
                                  "CGRTT_SPLY_BZENTY_NM": {
                                    "type": "string",
                                    "description": "담배공급업체명",
                                    "properties": {}
                                  },
                                  "DAT_UPDT_SE": {
                                    "type": "string",
                                    "description": "데이터갱신구분",
                                    "properties": {}
                                  },
                                  "DAT_UPDT_PNT": {
                                    "type": "string",
                                    "description": "데이터갱신시점(YYYYMMDDHHMMSS)",
                                    "properties": {}
                                  },
                                  "ROAD_NM_ZIP": {
                                    "type": "string",
                                    "description": "도로명우편번호",
                                    "properties": {}
                                  },
                                  "ROAD_NM_ADDR": {
                                    "type": "string",
                                    "description": "도로명주소",
                                    "properties": {}
                                  },
                                  "BPLC_NM": {
                                    "type": "string",
                                    "description": "사업장명",
                                    "properties": {}
                                  },
                                  "DTL_SALS_STTS_NM": {
                                    "type": "string",
                                    "description": "상세영업상태명",
                                    "properties": {}
                                  },
                                  "DTL_SALS_STTS_CD": {
                                    "type": "string",
                                    "description": "상세영업상태코드",
                                    "properties": {}
                                  },
                                  "SALS_STTS_NM": {
                                    "type": "string",
                                    "description": "영업상태명",
                                    "properties": {}
                                  },
                                  "SALS_STTS_CD": {
                                    "type": "string",
                                    "description": "영업상태코드",
                                    "properties": {}
                                  },
                                  "LCPMT_YMD": {
                                    "type": "string",
                                    "description": "인허가일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "LCPMT_RTRCN_YMD": {
                                    "type": "string",
                                    "description": "인허가취소일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "TELNO": {
                                    "type": "string",
                                    "description": "전화번호",
                                    "properties": {}
                                  },
                                  "CRD_INFO_X": {
                                    "type": "string",
                                    "description": "좌표정보(X)",
                                    "properties": {}
                                  },
                                  "CRD_INFO_Y": {
                                    "type": "string",
                                    "description": "좌표정보(Y)",
                                    "properties": {}
                                  },
                                  "LOTNO_ADDR": {
                                    "type": "string",
                                    "description": "지번주소",
                                    "properties": {}
                                  },
                                  "HNDL_PRDCT_NM": {
                                    "type": "string",
                                    "description": "취급제품명",
                                    "properties": {}
                                  },
                                  "CLSBIZ_YMD": {
                                    "type": "string",
                                    "description": "폐업일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "TCBIZ_BGNG_YMD": {
                                    "type": "string",
                                    "description": "휴업시작일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "TCBIZ_END_YMD": {
                                    "type": "string",
                                    "description": "휴업종료일자(YYYYMMDD)",
                                    "properties": {}
                                  },
                                  "LCTN_ZIP": {
                                    "type": "string",
                                    "description": "소재지우편번호",
                                    "properties": {}
                                  },
                                  "LAST_MDFCN_PNT": {
                                    "type": "string",
                                    "description": "최종수정시점(YYYYMMDDHHMMSS)",
                                    "properties": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "-1": {
            "description": "시스템 내부 오류가 발생하였습니다."
          },
          "-2": {
            "description": "요청하신 파라미터가 적합하지 않습니다."
          },
          "-3": {
            "description": "등록되지 않은 서비스 입니다."
          },
          "-4": {
            "description": "등록되지 않은 인증키 입니다."
          },
          "-5": {
            "description": "API 서버 오류가 발생하였습니다."
          },
          "-9": {
            "description": "종료된 서비스 입니다."
          },
          "-10": {
            "description": "트래픽 허용 횟수를 초과하였습니다."
          },
          "-11": {
            "description": "필수 파라미터가 입력되지 않았습니다."
          },
          "-999": {
            "description": "UNKNOWN"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "기타_담배도매업 데이터 이력조회",
        "description": "기타_담배도매업 데이터의 이력을 조회하기 위한 오퍼레이션 입니다.<br/>입력한 데이터기준일자를 기준으로 과거시점에 개방되었던 데이터를 조회할 수 있습니다.<br/>데이터기준일자는 2026.01.01부터 조회일 전일까지 입력 가능합니다.",
        "operationId": "history",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수(max: 100)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "returnType",
          "description": "응답의 데이터 타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[BASE_DATE::EQ]",
          "description": "데이터기준일자(YYYYMMDD) 미만의 값(해당 일자기준의 상태값을 확인할 수 있습니다.)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "cond[LCPMT_YMD::GTE]",
          "description": "인허가일자 이상의 값(YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[LCPMT_YMD::LT]",
          "description": "인허가일자 미만의 값(YYYYMMDD)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[SALS_STTS_CD::EQ]",
          "description": "영업상태코드 와 일치하는 값",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[DAT_UPDT_PNT::GTE]",
          "description": "데이터갱신시점 이상의 값(YYYYMMDDHHMMSS)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[DAT_UPDT_PNT::LT]",
          "description": "데이터갱신시점 미만의 값(YYYYMMDDHHMMSS)",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cond[OPN_ATMY_GRP_CD::EQ]",
          "description": "개방자치단체코드",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "cond[BPLC_NM::LIKE]",
          "description": "사업장명 을(를) 포함하는 값",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "info_response": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "response",
          "properties": {
            "header": {
              "type": "object",
              "description": "응답 데이터의 헤더",
              "properties": {
                "resultCode": {
                  "type": "string",
                  "description": "응답의 결과 코드"
                },
                "resultMsg": {
                  "type": "string",
                  "description": "응답의 결과 메세지"
                }
              }
            },
            "body": {
              "type": "object",
              "description": "응답 데이터의 바디",
              "properties": {
                "dataType": {
                  "type": "string",
                  "description": "응답의 데이터 타입"
                },
                "numOfRows": {
                  "type": "integer",
                  "description": "한 페이지 결과 수"
                },
                "pageNo": {
                  "type": "integer",
                  "description": "페이지번호"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "응답 데이터의 수"
                },
                "items": {
                  "type": "object",
                  "description": "items",
                  "properties": {
                    "item": {
                      "type": "array",
                      "description": "item",
                      "items": {
                        "type": "object",
                        "properties": {
                          "OPN_ATMY_GRP_CD": {
                            "type": "string",
                            "description": "개방자치단체코드"
                          },
                          "MNG_NO": {
                            "type": "string",
                            "description": "관리번호"
                          },
                          "CGRTT_SPLY_BZENTY_NM": {
                            "type": "string",
                            "description": "담배공급업체명"
                          },
                          "DAT_UPDT_SE": {
                            "type": "string",
                            "description": "데이터갱신구분"
                          },
                          "DAT_UPDT_PNT": {
                            "type": "string",
                            "description": "데이터갱신시점(YYYYMMDDHHMMSS)"
                          },
                          "ROAD_NM_ZIP": {
                            "type": "string",
                            "description": "도로명우편번호"
                          },
                          "ROAD_NM_ADDR": {
                            "type": "string",
                            "description": "도로명주소"
                          },
                          "BPLC_NM": {
                            "type": "string",
                            "description": "사업장명"
                          },
                          "DTL_SALS_STTS_NM": {
                            "type": "string",
                            "description": "상세영업상태명"
                          },
                          "DTL_SALS_STTS_CD": {
                            "type": "string",
                            "description": "상세영업상태코드"
                          },
                          "SALS_STTS_NM": {
                            "type": "string",
                            "description": "영업상태명"
                          },
                          "SALS_STTS_CD": {
                            "type": "string",
                            "description": "영업상태코드"
                          },
                          "LCPMT_YMD": {
                            "type": "string",
                            "description": "인허가일자(YYYYMMDD)"
                          },
                          "LCPMT_RTRCN_YMD": {
                            "type": "string",
                            "description": "인허가취소일자(YYYYMMDD)"
                          },
                          "TELNO": {
                            "type": "string",
                            "description": "전화번호"
                          },
                          "CRD_INFO_X": {
                            "type": "string",
                            "description": "좌표정보(X)"
                          },
                          "CRD_INFO_Y": {
                            "type": "string",
                            "description": "좌표정보(Y)"
                          },
                          "LOTNO_ADDR": {
                            "type": "string",
                            "description": "지번주소"
                          },
                          "HNDL_PRDCT_NM": {
                            "type": "string",
                            "description": "취급제품명"
                          },
                          "CLSBIZ_YMD": {
                            "type": "string",
                            "description": "폐업일자(YYYYMMDD)"
                          },
                          "TCBIZ_BGNG_YMD": {
                            "type": "string",
                            "description": "휴업시작일자(YYYYMMDD)"
                          },
                          "TCBIZ_END_YMD": {
                            "type": "string",
                            "description": "휴업종료일자(YYYYMMDD)"
                          },
                          "LCTN_ZIP": {
                            "type": "string",
                            "description": "소재지우편번호"
                          },
                          "LAST_MDFCN_PNT": {
                            "type": "string",
                            "description": "최종수정시점(YYYYMMDDHHMMSS)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "history_response": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "response",
          "properties": {
            "header": {
              "type": "object",
              "description": "응답 데이터의 헤더",
              "properties": {
                "resultCode": {
                  "type": "string",
                  "description": "응답의 결과 코드"
                },
                "resultMsg": {
                  "type": "string",
                  "description": "응답의 결과 메세지"
                }
              }
            },
            "body": {
              "type": "object",
              "description": "응답 데이터의 바디",
              "properties": {
                "dataType": {
                  "type": "string",
                  "description": "응답의 데이터 타입"
                },
                "numOfRows": {
                  "type": "integer",
                  "description": "한 페이지 결과 수"
                },
                "pageNo": {
                  "type": "integer",
                  "description": "페이지번호"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "응답 데이터의 수"
                },
                "items": {
                  "type": "object",
                  "description": "items",
                  "properties": {
                    "item": {
                      "type": "array",
                      "description": "item",
                      "items": {
                        "type": "object",
                        "properties": {
                          "OPN_ATMY_GRP_CD": {
                            "type": "string",
                            "description": "개방자치단체코드"
                          },
                          "MNG_NO": {
                            "type": "string",
                            "description": "관리번호"
                          },
                          "CGRTT_SPLY_BZENTY_NM": {
                            "type": "string",
                            "description": "담배공급업체명"
                          },
                          "DAT_UPDT_SE": {
                            "type": "string",
                            "description": "데이터갱신구분"
                          },
                          "DAT_UPDT_PNT": {
                            "type": "string",
                            "description": "데이터갱신시점(YYYYMMDDHHMMSS)"
                          },
                          "ROAD_NM_ZIP": {
                            "type": "string",
                            "description": "도로명우편번호"
                          },
                          "ROAD_NM_ADDR": {
                            "type": "string",
                            "description": "도로명주소"
                          },
                          "BPLC_NM": {
                            "type": "string",
                            "description": "사업장명"
                          },
                          "DTL_SALS_STTS_NM": {
                            "type": "string",
                            "description": "상세영업상태명"
                          },
                          "DTL_SALS_STTS_CD": {
                            "type": "string",
                            "description": "상세영업상태코드"
                          },
                          "SALS_STTS_NM": {
                            "type": "string",
                            "description": "영업상태명"
                          },
                          "SALS_STTS_CD": {
                            "type": "string",
                            "description": "영업상태코드"
                          },
                          "LCPMT_YMD": {
                            "type": "string",
                            "description": "인허가일자(YYYYMMDD)"
                          },
                          "LCPMT_RTRCN_YMD": {
                            "type": "string",
                            "description": "인허가취소일자(YYYYMMDD)"
                          },
                          "TELNO": {
                            "type": "string",
                            "description": "전화번호"
                          },
                          "CRD_INFO_X": {
                            "type": "string",
                            "description": "좌표정보(X)"
                          },
                          "CRD_INFO_Y": {
                            "type": "string",
                            "description": "좌표정보(Y)"
                          },
                          "LOTNO_ADDR": {
                            "type": "string",
                            "description": "지번주소"
                          },
                          "HNDL_PRDCT_NM": {
                            "type": "string",
                            "description": "취급제품명"
                          },
                          "CLSBIZ_YMD": {
                            "type": "string",
                            "description": "폐업일자(YYYYMMDD)"
                          },
                          "TCBIZ_BGNG_YMD": {
                            "type": "string",
                            "description": "휴업시작일자(YYYYMMDD)"
                          },
                          "TCBIZ_END_YMD": {
                            "type": "string",
                            "description": "휴업종료일자(YYYYMMDD)"
                          },
                          "LCTN_ZIP": {
                            "type": "string",
                            "description": "소재지우편번호"
                          },
                          "LAST_MDFCN_PNT": {
                            "type": "string",
                            "description": "최종수정시점(YYYYMMDDHHMMSS)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}