{
  "swagger": "2.0",
  "info": {
    "description": "조달청에서 운영하는 종합쇼핑몰에 등록되어 있는 품목의 계약정보, 인증정보 등을 조회\\n (종합쇼핑몰: 국가를 당사자로하는 계약에 관한법률 제22조의 규정에 따라 조달청 및 이용(수요)기관이 체결하는 단가계약(조달사업에관한법률시행령 제7조에 따라 체결하는 제3자를 위한 단가계약 포함)상품을 등록하여 이를 수요기관에서 전자적인 방법으로 구매할 수 있는 쇼핑몰).\\n\\n※ 다수공급자계약이란? 각 공공기관의 다양한 수요를 충족하기 위하여 동등, 유사한 종류의 물품을 수요기관이 선택할 수 있도록 2인 이상을 계약상대자로 하는 계약방법",
    "version": "1.0.0",
    "title": "조달청_종합쇼핑몰 품목정보 서비스"
  },
  "host": "apis.data.go.kr/1230000/at/ShoppingMallPrdctInfoService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getMASCntrctPrdctInfoList": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "acptncInsttNm": {
                              "type": "string",
                              "description": "검수기관명",
                              "properties": {}
                            },
                            "shopngCntrctSno": {
                              "type": "string",
                              "description": "쇼핑계약순번",
                              "properties": {}
                            },
                            "levDivNm": {
                              "type": "string",
                              "description": "징수구분명",
                              "properties": {}
                            },
                            "qltyRltnCertInfo": {
                              "type": "string",
                              "description": "품질관련인증정보",
                              "properties": {}
                            },
                            "avrgDlvyTime": {
                              "type": "string",
                              "description": "평균배송일",
                              "properties": {}
                            },
                            "prefrpurchsObjCertNm": {
                              "type": "string",
                              "description": "우선구매대상인증명",
                              "properties": {}
                            },
                            "dutyPurchsObjCertNm": {
                              "type": "string",
                              "description": "의무구매대상인증명",
                              "properties": {}
                            },
                            "qltyMngmtPrgnCorpYn": {
                              "type": "string",
                              "description": "품질경영모범업체여부",
                              "properties": {}
                            },
                            "hdoffceLocplc": {
                              "type": "string",
                              "description": "본사소재지",
                              "properties": {}
                            },
                            "fctryLocplc": {
                              "type": "string",
                              "description": "공장소재지",
                              "properties": {}
                            },
                            "refeMtr": {
                              "type": "string",
                              "description": "참고사항",
                              "properties": {}
                            },
                            "cntrctDate": {
                              "type": "string",
                              "description": "계약일자",
                              "properties": {}
                            },
                            "splyJrsdctRgnNm": {
                              "type": "string",
                              "description": "공급관할지역명",
                              "properties": {}
                            },
                            "cntrctBgnDate": {
                              "type": "string",
                              "description": "계약시작일자",
                              "properties": {}
                            },
                            "cntrctEndDate": {
                              "type": "string",
                              "description": "계약종료일자",
                              "properties": {}
                            },
                            "cntrctDeptNm": {
                              "type": "string",
                              "description": "계약부서명",
                              "properties": {}
                            },
                            "cntrctDeptTelNo": {
                              "type": "string",
                              "description": "계약부서전화번호",
                              "properties": {}
                            },
                            "cntrctOfclNm": {
                              "type": "string",
                              "description": "계약담당자명",
                              "properties": {}
                            },
                            "orgplceMainCmpnt2Nm": {
                              "type": "string",
                              "description": "원산지주요부품2명",
                              "properties": {}
                            },
                            "cntrctCorpNo": {
                              "type": "string",
                              "description": "계약업체번호",
                              "properties": {}
                            },
                            "prdctImgUrl": {
                              "type": "string",
                              "description": "상품이미지URL",
                              "properties": {}
                            },
                            "cntrctCorpNm": {
                              "type": "string",
                              "description": "계약업체명",
                              "properties": {}
                            },
                            "orgplceCoreCmpntNm": {
                              "type": "string",
                              "description": "원산지핵심부품명",
                              "properties": {}
                            },
                            "splyCorpChrgDeptTelNo": {
                              "type": "string",
                              "description": "공급업체담당부서전화번호",
                              "properties": {}
                            },
                            "inspctInsttNm": {
                              "type": "string",
                              "description": "검사기관명",
                              "properties": {}
                            },
                            "cntrctOfclEmail": {
                              "type": "string",
                              "description": "계약담당자이메일",
                              "properties": {}
                            },
                            "splyTmlmtCntnts": {
                              "type": "string",
                              "description": "공급기한내용",
                              "properties": {}
                            },
                            "splyCorpChrgDeptNm": {
                              "type": "string",
                              "description": "공급업체담당부서명",
                              "properties": {}
                            },
                            "cntrctSpcmntMtr": {
                              "type": "string",
                              "description": "계약특기사항",
                              "properties": {}
                            },
                            "prodctChrInfoIntrcn": {
                              "type": "string",
                              "description": "제품특성정보소개",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "assmblCntryCoreCmpntNm": {
                              "type": "string",
                              "description": "조립국가핵심부품명",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt1Nm": {
                              "type": "string",
                              "description": "조립국가주요부품1명",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt2Nm": {
                              "type": "string",
                              "description": "조립국가주요부품2명",
                              "properties": {}
                            },
                            "prodctCertList": {
                              "type": "string",
                              "description": "제품인증목록",
                              "properties": {}
                            },
                            "entrprsDivNm": {
                              "type": "string",
                              "description": "기업구분명",
                              "properties": {}
                            },
                            "drctPrdctnCnfrmCertHoldCorpYn": {
                              "type": "string",
                              "description": "직접생산확인증명서보유업체여부",
                              "properties": {}
                            },
                            "entrprsDivInfrmtn": {
                              "type": "string",
                              "description": "기업구분안내",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "prdctSpecNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "exclncPrcrmntPrdctYn": {
                              "type": "string",
                              "description": "우수조달물품여부",
                              "properties": {}
                            },
                            "bndeFlawGrntyPrdctYn": {
                              "type": "string",
                              "description": "일괄하자보증물품여부",
                              "properties": {}
                            },
                            "smetprCmptProdctYn": {
                              "type": "string",
                              "description": "중소기업자간경쟁제품여부",
                              "properties": {}
                            },
                            "cntrctPrceAmt": {
                              "type": "string",
                              "description": "계약가격금액",
                              "properties": {}
                            },
                            "orderCalclPrceAmt": {
                              "type": "string",
                              "description": "주문산정가격금액",
                              "properties": {}
                            },
                            "dscntAmt": {
                              "type": "string",
                              "description": "할인금액",
                              "properties": {}
                            },
                            "prdctUnit": {
                              "type": "string",
                              "description": "물품단위",
                              "properties": {}
                            },
                            "prdctOrgplceNm": {
                              "type": "string",
                              "description": "물품원산지명",
                              "properties": {}
                            },
                            "orgplceMainCmpnt1Cntnts": {
                              "type": "string",
                              "description": "원산지주요부품1내용",
                              "properties": {}
                            },
                            "orgplceMainCmpnt1Nm": {
                              "type": "string",
                              "description": "원산지주요부품1명",
                              "properties": {}
                            },
                            "orgplceMainCmpnt2Cntnts": {
                              "type": "string",
                              "description": "원산지주요부품2내용",
                              "properties": {}
                            },
                            "orgplceCoreCmpntCntnts": {
                              "type": "string",
                              "description": "원산지핵심부품내용",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt1Cntnts": {
                              "type": "string",
                              "description": "조립국가주요부품1내용",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt2Cntnts": {
                              "type": "string",
                              "description": "조립국가주요부품2내용",
                              "properties": {}
                            },
                            "assmblCntryCoreCmpntCntnts": {
                              "type": "string",
                              "description": "조립국가핵심부품내용",
                              "properties": {}
                            },
                            "prdctMakrNm": {
                              "type": "string",
                              "description": "물품제조사명",
                              "properties": {}
                            },
                            "prdctDlvrPlceNm": {
                              "type": "string",
                              "description": "물품납품장소명",
                              "properties": {}
                            },
                            "prdctDlvryCndtnNm": {
                              "type": "string",
                              "description": "물품인도조건명",
                              "properties": {}
                            },
                            "prdctSplyRgnNm": {
                              "type": "string",
                              "description": "물품공급지역명",
                              "properties": {}
                            },
                            "vatAplDivNm": {
                              "type": "string",
                              "description": "부가가치세적용구분명",
                              "properties": {}
                            },
                            "dlvrTmlmtDaynum": {
                              "type": "string",
                              "description": "납품기한일수",
                              "properties": {}
                            },
                            "dlvrTmlmtDscrpt": {
                              "type": "string",
                              "description": "납품기한설명",
                              "properties": {}
                            },
                            "prcrmntFeeInclsnCntnts": {
                              "type": "string",
                              "description": "조달수수료포함내용",
                              "properties": {}
                            },
                            "dscntBgnDate": {
                              "type": "string",
                              "description": "할인시작일자",
                              "properties": {}
                            },
                            "dscntEndDate": {
                              "type": "string",
                              "description": "할인종료일자",
                              "properties": {}
                            },
                            "remndrQty": {
                              "type": "string",
                              "description": "잔여수량",
                              "properties": {}
                            },
                            "specDocAtchFileNm1": {
                              "type": "string",
                              "description": "규격문서첨부파일명1",
                              "properties": {}
                            },
                            "specDocAtchFileNm2": {
                              "type": "string",
                              "description": "규격문서첨부파일명2",
                              "properties": {}
                            },
                            "specDocAtchFileNm3": {
                              "type": "string",
                              "description": "규격문서첨부파일명3",
                              "properties": {}
                            },
                            "specDocAtchFileNm4": {
                              "type": "string",
                              "description": "규격문서첨부파일명4",
                              "properties": {}
                            },
                            "specDocAtchFileNm5": {
                              "type": "string",
                              "description": "규격문서첨부파일명5",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl1": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL1",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl2": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL2",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl3": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL3",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl4": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL4",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl5": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL5",
                              "properties": {}
                            },
                            "prdctLrgclsfcCd": {
                              "type": "string",
                              "description": "물품대분류코드",
                              "properties": {}
                            },
                            "prdctLrgclsfcNm": {
                              "type": "string",
                              "description": "물품대분류명",
                              "properties": {}
                            },
                            "prdctMidclsfcCd": {
                              "type": "string",
                              "description": "물품중분류코드",
                              "properties": {}
                            },
                            "prdctMidclsfcNm": {
                              "type": "string",
                              "description": "물품중분류명",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "shopngCntrctNo": {
                              "type": "string",
                              "description": "쇼핑계약번호",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "publicProcurementOfficeInfrmtn": {
                              "type": "string",
                              "description": "조달청안내",
                              "properties": {}
                            },
                            "prdctDtlInfo": {
                              "type": "string",
                              "description": "물품상세정보(상품상세정보)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "다수공급자계약 품목정보",
        "description": "종합 쇼핑몰의 다수공급자계약 품목정보(계약정보, 업체정보, 규격서첨부파일) 등을 조회. 단, 거래정지 및 해지 건은 제공되지 않음 다수공급자계약이란 각 공공기관의 다양한 수요를 충족하기 위하여 품질, 성능, 효율 등에서 동등하거나 유사한 종류의 물품을 수요기관이 선택할 수 있도록 2인 이상을 계약상대자로 하는 계약방법으로 납품실적, 경영상태 등이 일정한 기준에 적합한 자를 대상으로 협상을 통해 계약을 체결하고 수요고객이 직접 나라장터 종합쇼핑몰(http://shopping.g2b.go.kr/) 에서 자유롭게 물품을 선택하여 사용 *파라미터 미입력 및 파라미터 오류시 등록일시 기준 현재 시점부터 하루분 데이터가 조회",
        "operationId": "getMASCntrctPrdctInfoList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cntrctCorpNm",
          "description": "계약업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgDtBgnDt",
          "description": "변경일시시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgDtEndDt",
          "description": "변경일시종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgstDtBgnDt",
          "description": "등록일시시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgstDtEndDt",
          "description": "등록일시종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prodctCertYn",
          "description": "제품인증여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getUcntrctPrdctInfoList": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "hdoffceLocplc": {
                              "type": "string",
                              "description": "본사소재지",
                              "properties": {}
                            },
                            "cntrctDeptNm": {
                              "type": "string",
                              "description": "계약부서명",
                              "properties": {}
                            },
                            "cntrctDeptTelNo": {
                              "type": "string",
                              "description": "계약부서전화번호",
                              "properties": {}
                            },
                            "cntrctOfclNm": {
                              "type": "string",
                              "description": "계약담당자명",
                              "properties": {}
                            },
                            "cntrctOfclEmail": {
                              "type": "string",
                              "description": "계약담당자이메일",
                              "properties": {}
                            },
                            "splyTmlmtCntnts": {
                              "type": "string",
                              "description": "공급기한내용",
                              "properties": {}
                            },
                            "splyCorpChrgDeptNm": {
                              "type": "string",
                              "description": "공급업체담당부서명",
                              "properties": {}
                            },
                            "splyCorpChrgDeptTelNo": {
                              "type": "string",
                              "description": "공급업체담당부서전화번호",
                              "properties": {}
                            },
                            "acptncInsttNm": {
                              "type": "string",
                              "description": "검수기관명",
                              "properties": {}
                            },
                            "inspctInsttNm": {
                              "type": "string",
                              "description": "검사기관명",
                              "properties": {}
                            },
                            "publicProcurementOfficeInfrmtn": {
                              "type": "string",
                              "description": "조달청안내",
                              "properties": {}
                            },
                            "prdctDtlInfo": {
                              "type": "string",
                              "description": "물품상세정보(상품상세정보)",
                              "properties": {}
                            },
                            "cntrctSpcmntMtr": {
                              "type": "string",
                              "description": "계약특기사항",
                              "properties": {}
                            },
                            "prodctChrInfoIntrcn": {
                              "type": "string",
                              "description": "제품특성정보소개",
                              "properties": {}
                            },
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "orgplceMainCmpnt2Nm": {
                              "type": "string",
                              "description": "원산지주요부품2명",
                              "properties": {}
                            },
                            "orgplceCoreCmpntNm": {
                              "type": "string",
                              "description": "원산지핵심부품명",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt1Nm": {
                              "type": "string",
                              "description": "조립국가주요부품1명",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt2Nm": {
                              "type": "string",
                              "description": "조립국가주요부품2명",
                              "properties": {}
                            },
                            "prodctCertList": {
                              "type": "string",
                              "description": "제품인증목록",
                              "properties": {}
                            },
                            "cntrctCorpNo": {
                              "type": "string",
                              "description": "계약업체번호",
                              "properties": {}
                            },
                            "prdctImgUrl": {
                              "type": "string",
                              "description": "상품이미지URL",
                              "properties": {}
                            },
                            "cntrctCorpNm": {
                              "type": "string",
                              "description": "계약업체명",
                              "properties": {}
                            },
                            "entrprsDivNm": {
                              "type": "string",
                              "description": "기업구분명",
                              "properties": {}
                            },
                            "drctPrdctnCnfrmCertHoldCorpYn": {
                              "type": "string",
                              "description": "직접생산확인증명서보유업체여부",
                              "properties": {}
                            },
                            "entrprsDivInfrmtn": {
                              "type": "string",
                              "description": "기업구분안내",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "prdctSpecNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "exclncPrcrmntPrdctYn": {
                              "type": "string",
                              "description": "우수조달물품여부",
                              "properties": {}
                            },
                            "bndeFlawGrntyPrdctYn": {
                              "type": "string",
                              "description": "일괄하자보증물품여부",
                              "properties": {}
                            },
                            "smetprCmptProdctYn": {
                              "type": "string",
                              "description": "중소기업자간경쟁제품여부",
                              "properties": {}
                            },
                            "cntrctPrceAmt": {
                              "type": "string",
                              "description": "계약가격금액",
                              "properties": {}
                            },
                            "orderCalclPrceAmt": {
                              "type": "string",
                              "description": "주문산정가격금액",
                              "properties": {}
                            },
                            "dscntAmt": {
                              "type": "string",
                              "description": "할인금액",
                              "properties": {}
                            },
                            "prdctUnit": {
                              "type": "string",
                              "description": "물품단위",
                              "properties": {}
                            },
                            "prdctOrgplceNm": {
                              "type": "string",
                              "description": "물품원산지명",
                              "properties": {}
                            },
                            "orgplceMainCmpnt1Cntnts": {
                              "type": "string",
                              "description": "원산지주요부품1내용",
                              "properties": {}
                            },
                            "orgplceMainCmpnt2Cntnts": {
                              "type": "string",
                              "description": "원산지주요부품2내용",
                              "properties": {}
                            },
                            "orgplceCoreCmpntCntnts": {
                              "type": "string",
                              "description": "원산지핵심부품내용",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt1Cntnts": {
                              "type": "string",
                              "description": "조립국가주요부품1내용",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt2Cntnts": {
                              "type": "string",
                              "description": "조립국가주요부품2내용",
                              "properties": {}
                            },
                            "assmblCntryCoreCmpntCntnts": {
                              "type": "string",
                              "description": "조립국가핵심부품내용",
                              "properties": {}
                            },
                            "prdctMakrNm": {
                              "type": "string",
                              "description": "물품제조사명",
                              "properties": {}
                            },
                            "prdctDlvrPlceNm": {
                              "type": "string",
                              "description": "물품납품장소명",
                              "properties": {}
                            },
                            "prdctDlvryCndtnNm": {
                              "type": "string",
                              "description": "물품인도조건명",
                              "properties": {}
                            },
                            "prdctSplyRgnNm": {
                              "type": "string",
                              "description": "물품공급지역명",
                              "properties": {}
                            },
                            "vatAplDivNm": {
                              "type": "string",
                              "description": "부가가치세적용구분명",
                              "properties": {}
                            },
                            "dlvrTmlmtDaynum": {
                              "type": "string",
                              "description": "납품기한일수",
                              "properties": {}
                            },
                            "dlvrTmlmtDscrpt": {
                              "type": "string",
                              "description": "납품기한설명",
                              "properties": {}
                            },
                            "prcrmntFeeInclsnCntnts": {
                              "type": "string",
                              "description": "조달수수료포함내용",
                              "properties": {}
                            },
                            "dscntBgnDate": {
                              "type": "string",
                              "description": "할인시작일자",
                              "properties": {}
                            },
                            "dscntEndDate": {
                              "type": "string",
                              "description": "할인종료일자",
                              "properties": {}
                            },
                            "remndrQty": {
                              "type": "string",
                              "description": "잔여수량",
                              "properties": {}
                            },
                            "specDocAtchFileNm1": {
                              "type": "string",
                              "description": "규격문서첨부파일명1",
                              "properties": {}
                            },
                            "specDocAtchFileNm2": {
                              "type": "string",
                              "description": "규격문서첨부파일명2",
                              "properties": {}
                            },
                            "specDocAtchFileNm3": {
                              "type": "string",
                              "description": "규격문서첨부파일명3",
                              "properties": {}
                            },
                            "specDocAtchFileNm4": {
                              "type": "string",
                              "description": "규격문서첨부파일명4",
                              "properties": {}
                            },
                            "specDocAtchFileNm5": {
                              "type": "string",
                              "description": "규격문서첨부파일명5",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl1": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL1",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "cntrctBgnDate": {
                              "type": "string",
                              "description": "계약시작일자",
                              "properties": {}
                            },
                            "cntrctEndDate": {
                              "type": "string",
                              "description": "계약종료일자",
                              "properties": {}
                            },
                            "orgplceMainCmpnt1Nm": {
                              "type": "string",
                              "description": "원산지주요부품1명",
                              "properties": {}
                            },
                            "assmblCntryCoreCmpntNm": {
                              "type": "string",
                              "description": "조립국가핵심부품명",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl5": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL5",
                              "properties": {}
                            },
                            "prdctLrgclsfcCd": {
                              "type": "string",
                              "description": "물품대분류코드",
                              "properties": {}
                            },
                            "prdctLrgclsfcNm": {
                              "type": "string",
                              "description": "물품대분류명",
                              "properties": {}
                            },
                            "prdctMidclsfcCd": {
                              "type": "string",
                              "description": "물품중분류코드",
                              "properties": {}
                            },
                            "prdctMidclsfcNm": {
                              "type": "string",
                              "description": "물품중분류명",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "shopngCntrctNo": {
                              "type": "string",
                              "description": "쇼핑계약번호",
                              "properties": {}
                            },
                            "shopngCntrctSno": {
                              "type": "string",
                              "description": "쇼핑계약순번",
                              "properties": {}
                            },
                            "levDivNm": {
                              "type": "string",
                              "description": "징수구분명",
                              "properties": {}
                            },
                            "qltyRltnCertInfo": {
                              "type": "string",
                              "description": "품질관련인증정보",
                              "properties": {}
                            },
                            "refeMtr": {
                              "type": "string",
                              "description": "참고사항",
                              "properties": {}
                            },
                            "cntrctDate": {
                              "type": "string",
                              "description": "계약일자",
                              "properties": {}
                            },
                            "splyJrsdctRgnNm": {
                              "type": "string",
                              "description": "공급관할지역명",
                              "properties": {}
                            },
                            "qltyMngmtPrgnCorpYn": {
                              "type": "string",
                              "description": "품질경영모범업체여부",
                              "properties": {}
                            },
                            "prefrpurchsObjCertNm": {
                              "type": "string",
                              "description": "우선구매대상인증명",
                              "properties": {}
                            },
                            "dutyPurchsObjCertNm": {
                              "type": "string",
                              "description": "의무구매대상인증명",
                              "properties": {}
                            },
                            "fctryLocplc": {
                              "type": "string",
                              "description": "공장소재지",
                              "properties": {}
                            },
                            "avrgDlvyTime": {
                              "type": "string",
                              "description": "평균배송일",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl2": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL2",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl3": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL3",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl4": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL4",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "일반단가계약 품목정보",
        "description": "종합 쇼핑몰의 일반단가계약 품목정보(계약정보, 업체정보, 규격서첨부파일) 등을 조회. 단, 거래정지 및 해지 건은 제공되지 않음 일반단가계약은 다수 기관에서 공통적으로 사용하고 수요빈도가 많은 품목에 대하여 단가에 의하여 입찰 및 수의시담 하고 예정 수량을 명시하여 체결하는 계약[국가계약법 제22조]방법으로 단가계약물품은 정형화된 규격에 의하여 제조?공급되는 물품. (철근, 시멘트, 레미콘, 아스콘 등 계약물량을 조정.통제할 필요가 있는 물품) *파라미터 미입력 및 파라미터 오류시 등록일시 기준 현재 시점부터 하루분 데이터가 조회",
        "operationId": "getUcntrctPrdctInfoList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cntrctCorpNm",
          "description": "계약업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgDtBgnDt",
          "description": "변경일시시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgDtEndDt",
          "description": "변경일시종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgstDtBgnDt",
          "description": "등록일시시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgstDtEndDt",
          "description": "등록일시종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prodctCertYn",
          "description": "제품인증여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getThptyUcntrctPrdctInfoList": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "chgDt": {
                              "type": "string",
                              "description": "변경일시",
                              "properties": {}
                            },
                            "prdctDtlInfo": {
                              "type": "string",
                              "description": "물품상세정보(상품상세정보)",
                              "properties": {}
                            },
                            "prcrmntFeeInclsnCntnts": {
                              "type": "string",
                              "description": "조달수수료포함내용",
                              "properties": {}
                            },
                            "dscntBgnDate": {
                              "type": "string",
                              "description": "할인시작일자",
                              "properties": {}
                            },
                            "dscntEndDate": {
                              "type": "string",
                              "description": "할인종료일자",
                              "properties": {}
                            },
                            "remndrQty": {
                              "type": "string",
                              "description": "잔여수량",
                              "properties": {}
                            },
                            "specDocAtchFileNm1": {
                              "type": "string",
                              "description": "규격문서첨부파일명1",
                              "properties": {}
                            },
                            "specDocAtchFileNm2": {
                              "type": "string",
                              "description": "규격문서첨부파일명2",
                              "properties": {}
                            },
                            "specDocAtchFileNm3": {
                              "type": "string",
                              "description": "규격문서첨부파일명3",
                              "properties": {}
                            },
                            "specDocAtchFileNm4": {
                              "type": "string",
                              "description": "규격문서첨부파일명4",
                              "properties": {}
                            },
                            "specDocAtchFileNm5": {
                              "type": "string",
                              "description": "규격문서첨부파일명5",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl1": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL1",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl2": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL2",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl3": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL3",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl4": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL4",
                              "properties": {}
                            },
                            "specDocAtchFileNmUrl5": {
                              "type": "string",
                              "description": "규격문서첨부파일명URL5",
                              "properties": {}
                            },
                            "prdctLrgclsfcCd": {
                              "type": "string",
                              "description": "물품대분류코드",
                              "properties": {}
                            },
                            "prdctLrgclsfcNm": {
                              "type": "string",
                              "description": "물품대분류명",
                              "properties": {}
                            },
                            "prdctMidclsfcCd": {
                              "type": "string",
                              "description": "물품중분류코드",
                              "properties": {}
                            },
                            "prdctMidclsfcNm": {
                              "type": "string",
                              "description": "물품중분류명",
                              "properties": {}
                            },
                            "drctPrdctnCnfrmCertHoldCorpYn": {
                              "type": "string",
                              "description": "직접생산확인증명서보유업체여부",
                              "properties": {}
                            },
                            "entrprsDivInfrmtn": {
                              "type": "string",
                              "description": "기업구분안내",
                              "properties": {}
                            },
                            "cntrctMthdNm": {
                              "type": "string",
                              "description": "계약방법명",
                              "properties": {}
                            },
                            "prdctSpecNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "exclncPrcrmntPrdctYn": {
                              "type": "string",
                              "description": "우수조달물품여부",
                              "properties": {}
                            },
                            "orgplceMainCmpnt2Nm": {
                              "type": "string",
                              "description": "원산지주요부품2명",
                              "properties": {}
                            },
                            "orgplceMainCmpnt1Nm": {
                              "type": "string",
                              "description": "원산지주요부품1명",
                              "properties": {}
                            },
                            "prodctCertList": {
                              "type": "string",
                              "description": "제품인증목록",
                              "properties": {}
                            },
                            "prdctImgUrl": {
                              "type": "string",
                              "description": "상품이미지URL",
                              "properties": {}
                            },
                            "cntrctCorpNm": {
                              "type": "string",
                              "description": "계약업체명",
                              "properties": {}
                            },
                            "entrprsDivNm": {
                              "type": "string",
                              "description": "기업구분명",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "shopngCntrctNo": {
                              "type": "string",
                              "description": "쇼핑계약번호",
                              "properties": {}
                            },
                            "shopngCntrctSno": {
                              "type": "string",
                              "description": "쇼핑계약순번",
                              "properties": {}
                            },
                            "levDivNm": {
                              "type": "string",
                              "description": "징수구분명",
                              "properties": {}
                            },
                            "qltyRltnCertInfo": {
                              "type": "string",
                              "description": "품질관련인증정보",
                              "properties": {}
                            },
                            "avrgDlvyTime": {
                              "type": "string",
                              "description": "평균배송일",
                              "properties": {}
                            },
                            "prefrpurchsObjCertNm": {
                              "type": "string",
                              "description": "우선구매대상인증명",
                              "properties": {}
                            },
                            "dutyPurchsObjCertNm": {
                              "type": "string",
                              "description": "의무구매대상인증명",
                              "properties": {}
                            },
                            "qltyMngmtPrgnCorpYn": {
                              "type": "string",
                              "description": "품질경영모범업체여부",
                              "properties": {}
                            },
                            "hdoffceLocplc": {
                              "type": "string",
                              "description": "본사소재지",
                              "properties": {}
                            },
                            "fctryLocplc": {
                              "type": "string",
                              "description": "공장소재지",
                              "properties": {}
                            },
                            "refeMtr": {
                              "type": "string",
                              "description": "참고사항",
                              "properties": {}
                            },
                            "cntrctDate": {
                              "type": "string",
                              "description": "계약일자",
                              "properties": {}
                            },
                            "splyJrsdctRgnNm": {
                              "type": "string",
                              "description": "공급관할지역명",
                              "properties": {}
                            },
                            "cntrctBgnDate": {
                              "type": "string",
                              "description": "계약시작일자",
                              "properties": {}
                            },
                            "cntrctEndDate": {
                              "type": "string",
                              "description": "계약종료일자",
                              "properties": {}
                            },
                            "cntrctDeptNm": {
                              "type": "string",
                              "description": "계약부서명",
                              "properties": {}
                            },
                            "cntrctDeptTelNo": {
                              "type": "string",
                              "description": "계약부서전화번호",
                              "properties": {}
                            },
                            "cntrctOfclNm": {
                              "type": "string",
                              "description": "계약담당자명",
                              "properties": {}
                            },
                            "cntrctOfclEmail": {
                              "type": "string",
                              "description": "계약담당자이메일",
                              "properties": {}
                            },
                            "splyTmlmtCntnts": {
                              "type": "string",
                              "description": "공급기한내용",
                              "properties": {}
                            },
                            "splyCorpChrgDeptNm": {
                              "type": "string",
                              "description": "공급업체담당부서명",
                              "properties": {}
                            },
                            "splyCorpChrgDeptTelNo": {
                              "type": "string",
                              "description": "공급업체담당부서전화번호",
                              "properties": {}
                            },
                            "acptncInsttNm": {
                              "type": "string",
                              "description": "검수기관명",
                              "properties": {}
                            },
                            "inspctInsttNm": {
                              "type": "string",
                              "description": "검사기관명",
                              "properties": {}
                            },
                            "publicProcurementOfficeInfrmtn": {
                              "type": "string",
                              "description": "조달청안내",
                              "properties": {}
                            },
                            "cntrctSpcmntMtr": {
                              "type": "string",
                              "description": "계약특기사항",
                              "properties": {}
                            },
                            "prodctChrInfoIntrcn": {
                              "type": "string",
                              "description": "제품특성정보소개",
                              "properties": {}
                            },
                            "rgstDt": {
                              "type": "string",
                              "description": "등록일시",
                              "properties": {}
                            },
                            "orgplceCoreCmpntNm": {
                              "type": "string",
                              "description": "원산지핵심부품명",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt1Nm": {
                              "type": "string",
                              "description": "조립국가주요부품1명",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt2Nm": {
                              "type": "string",
                              "description": "조립국가주요부품2명",
                              "properties": {}
                            },
                            "bndeFlawGrntyPrdctYn": {
                              "type": "string",
                              "description": "일괄하자보증물품여부",
                              "properties": {}
                            },
                            "smetprCmptProdctYn": {
                              "type": "string",
                              "description": "중소기업자간경쟁제품여부",
                              "properties": {}
                            },
                            "cntrctPrceAmt": {
                              "type": "string",
                              "description": "계약가격금액",
                              "properties": {}
                            },
                            "orderCalclPrceAmt": {
                              "type": "string",
                              "description": "주문산정가격금액",
                              "properties": {}
                            },
                            "dscntAmt": {
                              "type": "string",
                              "description": "할인금액",
                              "properties": {}
                            },
                            "prdctUnit": {
                              "type": "string",
                              "description": "물품단위",
                              "properties": {}
                            },
                            "prdctOrgplceNm": {
                              "type": "string",
                              "description": "물품원산지명",
                              "properties": {}
                            },
                            "orgplceMainCmpnt1Cntnts": {
                              "type": "string",
                              "description": "원산지주요부품1내용",
                              "properties": {}
                            },
                            "orgplceMainCmpnt2Cntnts": {
                              "type": "string",
                              "description": "원산지주요부품2내용",
                              "properties": {}
                            },
                            "orgplceCoreCmpntCntnts": {
                              "type": "string",
                              "description": "원산지핵심부품내용",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt1Cntnts": {
                              "type": "string",
                              "description": "조립국가주요부품1내용",
                              "properties": {}
                            },
                            "assmblCntryMainCmpnt2Cntnts": {
                              "type": "string",
                              "description": "조립국가주요부품2내용",
                              "properties": {}
                            },
                            "assmblCntryCoreCmpntCntnts": {
                              "type": "string",
                              "description": "조립국가핵심부품내용",
                              "properties": {}
                            },
                            "assmblCntryCoreCmpntNm": {
                              "type": "string",
                              "description": "조립국가핵심부품명",
                              "properties": {}
                            },
                            "prdctMakrNm": {
                              "type": "string",
                              "description": "물품제조사명",
                              "properties": {}
                            },
                            "prdctDlvrPlceNm": {
                              "type": "string",
                              "description": "물품납품장소명",
                              "properties": {}
                            },
                            "prdctDlvryCndtnNm": {
                              "type": "string",
                              "description": "물품인도조건명",
                              "properties": {}
                            },
                            "prdctSplyRgnNm": {
                              "type": "string",
                              "description": "물품공급지역명",
                              "properties": {}
                            },
                            "dlvrTmlmtDscrpt": {
                              "type": "string",
                              "description": "납품기한설명",
                              "properties": {}
                            },
                            "vatAplDivNm": {
                              "type": "string",
                              "description": "부가가치세적용구분명",
                              "properties": {}
                            },
                            "dlvrTmlmtDaynum": {
                              "type": "string",
                              "description": "납품기한일수",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "제3자단가계약 품목정보",
        "description": "종합 쇼핑몰의 제3자단가계약 품목정보(계약정보, 업체정보, 규격서첨부파일) 등을 조회. 단, 거래정지 및 해지 건은 제공되지 않음 제3자단가계약이란 수요기관에서 공통적으로 소요되고 신속공급이 필요한 물자의 제조?구매 및 가공등의 계약에 관하여 미리 단가만을 정하여 공고하고 각 수요기관에서 계약상대자에게 직접 납품요구하여 구매하는 계약[조달사업에관한법률 제5조, 동법 시행령 제7조]방법으로 3자단가계약물품은 행정사무자동화 기기, 우수제품 등 계약자 규격물품으로 제조?공급되는 물품. (컴퓨터, 차량, 전자복사기, FAX 등) *파라미터 미입력 및 파라미터 오류시 등록일시 기준 현재 시점부터 하루분 데이터가 조회",
        "operationId": "getThptyUcntrctPrdctInfoList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "prdctClsfcNoNm",
          "description": "품명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prdctIdntNo",
          "description": "물품식별번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cntrctCorpNm",
          "description": "계약업체명",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgDtBgnDt",
          "description": "변경일시시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "chgDtEndDt",
          "description": "변경일시종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgstDtBgnDt",
          "description": "등록일시시작일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "rgstDtEndDt",
          "description": "등록일시종료일시",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prodctCertYn",
          "description": "제품인증여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    },
    "/getDlvrReqInfoList": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "dlvrReqIncdecQty": {
                              "type": "string",
                              "description": "증감납품요구수량",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dlvrReqChgOrd": {
                              "type": "string",
                              "description": "납품요구변경차수",
                              "properties": {}
                            },
                            "dlvrReqRcptDate": {
                              "type": "string",
                              "description": "납품요구접수일자",
                              "properties": {}
                            },
                            "dlvrReqNm": {
                              "type": "string",
                              "description": "납품요구건명",
                              "properties": {}
                            },
                            "dlvrReqQty": {
                              "type": "string",
                              "description": "납품요구수량",
                              "properties": {}
                            },
                            "dlvrReqAmt": {
                              "type": "string",
                              "description": "납품요구금액",
                              "properties": {}
                            },
                            "dmndInsttDivNm": {
                              "type": "string",
                              "description": "수요기관구분명",
                              "properties": {}
                            },
                            "dminsttRgnNm": {
                              "type": "string",
                              "description": "수요기관지역명",
                              "properties": {}
                            },
                            "corpNm": {
                              "type": "string",
                              "description": "업체명",
                              "properties": {}
                            },
                            "corpEntrprsDivNm": {
                              "type": "string",
                              "description": "업체기업구분명",
                              "properties": {}
                            },
                            "rprsntPrdctClsfcNo": {
                              "type": "string",
                              "description": "대표물품분류번호",
                              "properties": {}
                            },
                            "rprsntPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "대표품명",
                              "properties": {}
                            },
                            "rprsntDtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "대표세부물품분류번호",
                              "properties": {}
                            },
                            "rprsntDtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "대표세부품명",
                              "properties": {}
                            },
                            "maxDlvrTmlmtDate": {
                              "type": "string",
                              "description": "최대납품기한일자",
                              "properties": {}
                            },
                            "cntrctCnclsStleNm": {
                              "type": "string",
                              "description": "계약체결형태명",
                              "properties": {}
                            },
                            "cntrctChgOrd": {
                              "type": "string",
                              "description": "계약변경차수",
                              "properties": {}
                            },
                            "masYn": {
                              "type": "string",
                              "description": "다수공급자계약여부",
                              "properties": {}
                            },
                            "exclcProdctYn": {
                              "type": "string",
                              "description": "우수제품여부",
                              "properties": {}
                            },
                            "dlvrReqNo": {
                              "type": "string",
                              "description": "납품요구번호",
                              "properties": {}
                            },
                            "cntrctNo": {
                              "type": "string",
                              "description": "계약번호",
                              "properties": {}
                            },
                            "fnlDlvrReqYn": {
                              "type": "string",
                              "description": "최종납품요구여부",
                              "properties": {}
                            },
                            "incdecQty": {
                              "type": "string",
                              "description": "증감수량",
                              "properties": {}
                            },
                            "dlvrReqIncdecAmt": {
                              "type": "string",
                              "description": "증감납품요구금액",
                              "properties": {}
                            },
                            "corpBizno": {
                              "type": "string",
                              "description": "업체사업자등록번호",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "종합쇼핑몰 납품요구정보 현황 목록조회",
        "description": "납품요구는 단가계약(일반단가, 제3자단가, 다수공급자계약)으로 체결후 나라장터 종합쇼핑몰에 등록 된 물품을 수요기관이 계약업체에 해당 물품을 납품할 것을 요청하며 조달청은 납품요구서를 계약업체에 발행하여 납품기한 이내에 납품을 업무로 검색조건을 납품요구접수일자, 납품요구번호, 계약번호를 통해 납품요구서의 정보를 조회 * 수요기관이 나라장터 종합쇼핑몰에서 납품요구한 정보 제공 *현재일로부터 납품요구접수일자 하루전 데이터 제공",
        "operationId": "getDlvrReqInfoList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryBgnDate",
          "description": "조회기준시작일자",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "inqryEndDate",
          "description": "조회기준종료일자",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dlvrReqNo",
          "description": "납품요구번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "cntrctNo",
          "description": "계약번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttCd",
          "description": "﻿수요기관코드",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "dminsttNm",
          "description": "﻿수요기관명",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getDlvrReqDtlInfoList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "corpEntrprsDivNmNm": {
                              "type": "string",
                              "description": "업체기업구분명",
                              "properties": {}
                            },
                            "dlvrReqQty": {
                              "type": "string",
                              "description": "납품요구수량",
                              "properties": {}
                            },
                            "dlvrReqAmt": {
                              "type": "string",
                              "description": "납품요구금액",
                              "properties": {}
                            },
                            "IntlCntrctDlvrReqDate": {
                              "type": "string",
                              "description": "최초계약(납품요구)일자",
                              "properties": {}
                            },
                            "cntrctNo": {
                              "type": "string",
                              "description": "계약번호",
                              "properties": {}
                            },
                            "dlvrReqChgOrd": {
                              "type": "string",
                              "description": "납품요구변경차수",
                              "properties": {}
                            },
                            "dlvrReqRcptDate": {
                              "type": "string",
                              "description": "납품요구접수일자",
                              "properties": {}
                            },
                            "prdctSno": {
                              "type": "string",
                              "description": "물품순번",
                              "properties": {}
                            },
                            "prdctClsfcNo": {
                              "type": "string",
                              "description": "물품분류번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNo": {
                              "type": "string",
                              "description": "세부품명번호",
                              "properties": {}
                            },
                            "prdctIdntNo": {
                              "type": "string",
                              "description": "물품식별번호",
                              "properties": {}
                            },
                            "prdctUprc": {
                              "type": "string",
                              "description": "물품단가",
                              "properties": {}
                            },
                            "prdctUnit": {
                              "type": "string",
                              "description": "물품단위",
                              "properties": {}
                            },
                            "prdctQty": {
                              "type": "string",
                              "description": "물품수량",
                              "properties": {}
                            },
                            "prdctAmt": {
                              "type": "string",
                              "description": "물품금액",
                              "properties": {}
                            },
                            "dlvrTmlmtDate": {
                              "type": "string",
                              "description": "납품기한일자",
                              "properties": {}
                            },
                            "cntrctCnclsStleNm": {
                              "type": "string",
                              "description": "계약체결형태명",
                              "properties": {}
                            },
                            "exclcProdctYn": {
                              "type": "string",
                              "description": "우수제품여부",
                              "properties": {}
                            },
                            "optnDivCdNm": {
                              "type": "string",
                              "description": "옵션구분코드명",
                              "properties": {}
                            },
                            "dminsttCd": {
                              "type": "string",
                              "description": "수요기관코드",
                              "properties": {}
                            },
                            "dminsttNm": {
                              "type": "string",
                              "description": "수요기관명",
                              "properties": {}
                            },
                            "dmndInsttDivNm": {
                              "type": "string",
                              "description": "수요기관구분명",
                              "properties": {}
                            },
                            "dminsttRgnNm": {
                              "type": "string",
                              "description": "수요기관지역명",
                              "properties": {}
                            },
                            "corpNm": {
                              "type": "string",
                              "description": "업체명",
                              "properties": {}
                            },
                            "dlvrReqNo": {
                              "type": "string",
                              "description": "납품요구번호",
                              "properties": {}
                            },
                            "dtilPrdctClsfcNoNm": {
                              "type": "string",
                              "description": "세부품명",
                              "properties": {}
                            },
                            "prdctClsfcNoNm": {
                              "type": "string",
                              "description": "품명",
                              "properties": {}
                            },
                            "fnlDlvrReqYn": {
                              "type": "string",
                              "description": "최종납품요구여부",
                              "properties": {}
                            },
                            "incdecQty": {
                              "type": "string",
                              "description": "증감수량",
                              "properties": {}
                            },
                            "incdecAmt": {
                              "type": "string",
                              "description": "증감금액",
                              "properties": {}
                            },
                            "cntrctCorpBizno": {
                              "type": "string",
                              "description": "계약업체 사업자등록번호",
                              "properties": {}
                            },
                            "prdctIdntNoNm": {
                              "type": "string",
                              "description": "물품규격명",
                              "properties": {}
                            },
                            "dlvrReqNm": {
                              "type": "string",
                              "description": "납품요구건명",
                              "properties": {}
                            },
                            "cntrctChgOrd": {
                              "type": "string",
                              "description": "계약변경차수",
                              "properties": {}
                            },
                            "masYn": {
                              "type": "string",
                              "description": "다수공급자계약여부",
                              "properties": {}
                            },
                            "cnstwkMtrlDrctPurchsObjYn": {
                              "type": "string",
                              "description": "공사용자재직접구매대상여부",
                              "properties": {}
                            },
                            "smetprCmptProdctYn": {
                              "type": "string",
                              "description": "중소기업자간경쟁제품여부",
                              "properties": {}
                            },
                            "brnofceNm": {
                              "type": "string",
                              "description": "지청명",
                              "properties": {}
[...]
