{
  "swagger": "2.0",
  "info": {
    "description": "본 데이터는 부산시설공단이 관리·운영하는 공원 내 시설물의 현황 정보를 Open API 형태로 제공합니다.\\n공원명, 프로그램명, 행사기간, 행사장소, 운영 정보 등 공원시설과 관련된 다양한 정보를 포함하고 있으며 실시간으로 데이터 현황을 제공합니다. 시민이 공원을 보다 편리하게 이용할 수 있도록 지원합니다. \\n또한 본 데이터는 공원시설 운영 현황의 투명성을 확보하고, 관광·여가 서비스 개발 및 도시공원 정책 수립을 위한 기초자료로 활용될 수 있습니다.\\n시민의 공원 이용 정보 접근성을 향상시키고 도시환경 개선 정책 수립을 지원하며 관광 및 지역경제 활성화에 기여할 수 있습니다.",
    "version": "1.0.0",
    "title": "부산시설공단_공원시설 현황 조회 서비스"
  },
  "host": "apis.data.go.kr/B552587/ParkInfoService_v2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getParkProgramList_v2": {
      "get": {
        "responses": {
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "11": {
            "description": "NO_MANDATORY_REQUEST_PARAMETERS_ERROR(필수요청 파라메터가 없음)"
          },
          "33": {
            "description": "UNSIGNED_CALL_ERROR(서명되지 않은 호출)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    },
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pgterm": {
                              "type": "string",
                              "description": "행사 기간",
                              "properties": {}
                            },
                            "pgtime": {
                              "type": "string",
                              "description": "행사 시간",
                              "properties": {}
                            },
                            "detaillink": {
                              "type": "string",
                              "description": "프로그램 및 문화행사의 세부정보를 볼수 있는 홈페이지 링크",
                              "properties": {}
                            },
                            "pgname": {
                              "type": "string",
                              "description": "프로그램 또는 문화행사의 명칭",
                              "properties": {}
                            },
                            "pgpark": {
                              "type": "string",
                              "description": "공원명칭",
                              "properties": {}
                            },
                            "pgphone": {
                              "type": "string",
                              "description": "프로그램 관련 문의처(전화번호)",
                              "properties": {}
                            },
                            "pgplace": {
                              "type": "string",
                              "description": "프로그램 또는 문화행사의 장소",
                              "properties": {}
                            },
                            "pgtarget": {
                              "type": "string",
                              "description": "프로그램의 대상",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수\\t",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "DB_ERROR(데이터베이스 에러)"
          },
          "03": {
            "description": "NODATA_ERROR(데이터없음 에러)"
          },
          "05": {
            "description": "SERVICETIMEOUT_ERROR(서비스 연결실패 에러)"
          },
          "00": {
            "description": "NORMAL_CODE(정상)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "공원시설 프로그램 조회",
        "description": "부산시설공단에서 관리중인 공원시설 프로그램 및 문화행사 프로그램(행사)명,기간, 장소, 연락처, 세부내용 안내 홈페이지 링크 등의 목록을 조회한다.",
        "operationId": "getParkProgramList_v2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답 포맷: json 또는 xml (기본값: xml)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getParkProgramList_v2_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            },
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "pgterm": {
                      "type": "string",
                      "description": "행사 기간"
                    },
                    "pgtime": {
                      "type": "string",
                      "description": "행사 시간"
                    },
                    "detaillink": {
                      "type": "string",
                      "description": "프로그램 및 문화행사의 세부정보를 볼수 있는 홈페이지 링크"
                    },
                    "pgname": {
                      "type": "string",
                      "description": "프로그램 또는 문화행사의 명칭"
                    },
                    "pgpark": {
                      "type": "string",
                      "description": "공원명칭"
                    },
                    "pgphone": {
                      "type": "string",
                      "description": "프로그램 관련 문의처(전화번호)"
                    },
                    "pgplace": {
                      "type": "string",
                      "description": "프로그램 또는 문화행사의 장소"
                    },
                    "pgtarget": {
                      "type": "string",
                      "description": "프로그램의 대상"
                    }
                  }
                }
              }
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수\\t"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 수"
            }
          }
        }
      }
    }
  }
}