{
  "swagger": "2.0",
  "info": {
    "description": "본 데이터는 한마음스포츠센터에서 운영 중인 생활체육 프로그램 정보를 Open API 형태로 제공합니다. 시민이 생활체육 프로그램 정보를 쉽게 확인할 수 있도록 지원하고 프로그램 홍보 및 참여율 증대에 목적이 있습니다. 시민이 참여 가능한 체육 프로그램의 운영 현황을 실시간 데이터로 확인할 수 있습니다. 본 API를 통해 프로그램명, 진행장소, 수강대상, 시간, 정원, 수강 등의 정보를 조회할 수 있습니다. 이를 통해 시민의 체육 참여 접근성을 향상시키고 공공체육시설 정보의 투명성을 확보하는 기대효과가 있습니다.",
    "version": "1.0.0",
    "title": "부산시설공단_한마음스포츠센터 생활체육 프로그램 정보 조회 서비스"
  },
  "host": "apis.data.go.kr/B552587/GetProgramInfoService_v2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/pPROGRAMList_v2": {
      "get": {
        "responses": {
          "10": {
            "description": "INVALID_REQUEST_PARAMETER_ERROR(잘못된 요청 파라메터 에러)"
          },
          "11": {
            "description": "NO_MANDATORY_REQUEST_PARAMETERS_ERROR(필수요청 파라메터가 없음)"
          },
          "33": {
            "description": "UNSIGNED_CALL_ERROR(서명되지 않은 호출)"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "yearmonth": {
                              "type": "string",
                              "description": "프로그램 년월",
                              "properties": {}
                            },
                            "capacity": {
                              "type": "string",
                              "description": "정원",
                              "properties": {}
                            },
                            "classname": {
                              "type": "string",
                              "description": "반",
                              "properties": {}
                            },
                            "fee": {
                              "type": "string",
                              "description": "수강료",
                              "properties": {}
                            },
                            "programname": {
                              "type": "string",
                              "description": "프로그램명",
                              "properties": {}
                            },
                            "registration": {
                              "type": "string",
                              "description": "등록수",
                              "properties": {}
                            },
                            "remark": {
                              "type": "string",
                              "description": "비고",
                              "properties": {}
                            },
                            "roomname": {
                              "type": "string",
                              "description": "진행장소",
                              "properties": {}
                            },
                            "state": {
                              "type": "string",
                              "description": "등록상태",
                              "properties": {}
                            },
                            "targetname": {
                              "type": "string",
                              "description": "수강대상",
                              "properties": {}
                            },
                            "time": {
                              "type": "string",
                              "description": "시간",
                              "properties": {}
                            },
                            "trainingdate": {
                              "type": "string",
                              "description": "수업일자(요일)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "00": {
            "description": "NORMAL_CODE(정상)"
          },
          "02": {
            "description": "DB_ERROR(데이터베이스 에러)"
          },
          "03": {
            "description": "NODATA_ERROR(데이터없음 에러)"
          },
          "05": {
            "description": "SERVICETIMEOUT_ERROR(서비스 연결실패 에러)"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "프로그램정보조회",
        "description": "한마음스포츠센터 수강 신청 가능한 프로그램 목록 실시간 조회",
        "operationId": "pPROGRAMList_v2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답 포맷: json 또는 xml (기본값: xml)",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "pPROGRAMList_v2_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "yearmonth": {
                      "type": "string",
                      "description": "프로그램 년월"
                    },
                    "capacity": {
                      "type": "string",
                      "description": "정원"
                    },
                    "classname": {
                      "type": "string",
                      "description": "반"
                    },
                    "fee": {
                      "type": "string",
                      "description": "수강료"
                    },
                    "programname": {
                      "type": "string",
                      "description": "프로그램명"
                    },
                    "registration": {
                      "type": "string",
                      "description": "등록수"
                    },
                    "remark": {
                      "type": "string",
                      "description": "비고"
                    },
                    "roomname": {
                      "type": "string",
                      "description": "진행장소"
                    },
                    "state": {
                      "type": "string",
                      "description": "등록상태"
                    },
                    "targetname": {
                      "type": "string",
                      "description": "수강대상"
                    },
                    "time": {
                      "type": "string",
                      "description": "시간"
                    },
                    "trainingdate": {
                      "type": "string",
                      "description": "수업일자(요일)"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지 수"
            }
          }
        }
      }
    }
  }
}