{"swagger":"2.0","info":{"description":"이 데이터는 해양수산부에서 해양수질자동측정망 기반 실시간 측정자료를 제공하기 위해 제작되었습니다.  \\n전체 데이터 조회 또는 관측정점코드, 관측시작/종료일시 등 특정 파라미터 입력을 통해 데이터를 조회할 수 있습니다. 본 데이터의 주요 내용은 관측소 코드, 실시간 수온, 수소이온농도(pH), 염분, 전기전도도, 탁도, 용존산소 등 해양수질과 관련된 항목별 실시간 측정값 및 측정일시로 구성되어 있습니다.  \\n본 데이터는 해양환경 변화 분석, 해양수질 상태 점검, 수질오염 예측 및 대응, 연구기관의 해양생태 연구, 해양 방재 계획 수립, 정책 분석 등 다양한 해양 및 환경 관련 연구와 관리 업무에 활용될 수 있습니다.","version":"1.0.0","title":"해양수산부_실시간 해양수질자동측정망 관측소 측정자료정보"},"host":"apis.data.go.kr/1192000/OceansWemoObvpRtmInfoService","basePath":"","schemes":["https","http"],"paths":{"/OceansWemoObvpRtmInfo":{"get":{"responses":{"200":{"description":"성공","schema":{"type":"object","properties":{"header":{"type":"object","description":"header","properties":{"resultCode":{"type":"string","description":"결과코드","properties":{}},"resultMsg":{"type":"string","description":"결과메세지","properties":{}}}},"body":{"type":"object","description":"body","properties":{"items":{"type":"object","description":"items","properties":{"item":{"type":"object","description":"item","properties":{"num":{"type":"string","description":"순번","properties":{}},"rtmWqWtchStaCd":{"type":"string","description":"실시간수질관측정점코드","properties":{}},"rtmWqWtchDtlDt":{"type":"string","description":"실시간수질관측상세일시","properties":{}},"rtmWtchWtem":{"type":"string","description":"실시간관측수온","properties":{}},"rtmWqCndctv":{"type":"string","description":"실시간수질전기전도도","properties":{}},"ph":{"type":"string","description":"수소이온농도","properties":{}},"rtmWqDoxn":{"type":"string","description":"실시간수질용존산소량","properties":{}},"rtmWqTu":{"type":"string","description":"실시간수질탁도","properties":{}},"rtmWqBgalgsQy":{"type":"string","description":"실시간수질남조류량","properties":{}},"rtmWqChpla":{"type":"string","description":"실시간수질클로로필","properties":{}},"rtmWqSlnty":{"type":"string","description":"실시간수질염분","properties":{}}}}}},"numOfRows":{"type":"number","description":"페이지 크기","properties":{}},"pageNo":{"type":"number","description":"페이지 번호","properties":{}},"totalCount":{"type":"number","description":"전체 결과수","properties":{}}}}},"xml":{"name":"response"}}}},"tags":["API 목록"],"summary":"해양수질자동측정망 관측소 실시간 측정 자료 조회","description":"해양 수질 자동 측정망의 관측소에서 실시간으로 측정하는 정보를 조회한다.","operationId":"OceansWemoObvpRtmInfo","consumes":["application/json"],"produces":["application/xml"]},"parameters":[{"name":"rtm_wq_wtch_sta_cd ","description":"실시간수질관측정점코드","type":"string","required":false,"in":"query"},{"name":"wtch_dt_start","description":"실시간수질관측상세시작일시","type":"string","required":false,"in":"query"},{"name":"wtch_dt_end","description":"실시간수질관측상세종료일시","type":"string","required":false,"in":"query"},{"name":"_type","description":"페이지 문서 형태","type":"string","required":true,"in":"query"},{"name":"numOfRows","description":"페이지 크기","type":"number","required":true,"in":"query"},{"name":"pageNo","description":"페이지 번호","type":"number","required":true,"in":"query"},{"name":"serviceKey","description":"공공데이터포털에서 발급받은 인증키","type":"string","required":true,"in":"query"}]}},"definitions":{"OceansWemoObvpRtmInfo_response":{"type":"object","properties":{"header":{"type":"object","description":"header","properties":{"resultCode":{"type":"string","description":"결과코드"},"resultMsg":{"type":"string","description":"결과메세지"}}},"body":{"type":"object","description":"body","properties":{"items":{"type":"object","description":"items","properties":{"item":{"type":"object","description":"item","properties":{"num":{"type":"string","description":"순번"},"rtmWqWtchStaCd":{"type":"string","description":"실시간수질관측정점코드"},"rtmWqWtchDtlDt":{"type":"string","description":"실시간수질관측상세일시"},"rtmWtchWtem":{"type":"string","description":"실시간관측수온"},"rtmWqCndctv":{"type":"string","description":"실시간수질전기전도도"},"ph":{"type":"string","description":"수소이온농도"},"rtmWqDoxn":{"type":"string","description":"실시간수질용존산소량"},"rtmWqTu":{"type":"string","description":"실시간수질탁도"},"rtmWqBgalgsQy":{"type":"string","description":"실시간수질남조류량"},"rtmWqChpla":{"type":"string","description":"실시간수질클로로필"},"rtmWqSlnty":{"type":"string","description":"실시간수질염분"}}}}},"numOfRows":{"type":"number","description":"페이지 크기"},"pageNo":{"type":"number","description":"페이지 번호"},"totalCount":{"type":"number","description":"전체 결과수"}}}}}},"swaggerOprtinVOs":[{"oprtinUrl":"https://www.meis.go.kr/service/OceansWemoObvpRtmInfoService/OceansWemoObvpRtmInfo","oprtinNm":"해양수질자동측정망 관측소 실시간 측정 자료 조회","oprtinDc":"해양 수질 자동 측정망의 관측소에서 실시간으로 측정하는 정보를 조회한다.","gwSvcNm":"OceansWemoObvpRtmInfo","operationId":"OceansWemoObvpRtmInfo","publicDataTyDetailCode":"PRDE02","reqList":[{"paramtrNm":"rtm_wq_wtch_sta_cd ","paramtrBassValue":"SEA2006","paramtrDc":"실시간수질관측정점코드","paramtrTy":"string","paramtrDivision":"옵션","ck":true},{"paramtrNm":"wtch_dt_start","paramtrBassValue":"2/5/20","paramtrDc":"실시간수질관측상세시작일시","paramtrTy":"string","paramtrDivision":"옵션","ck":true},{"paramtrNm":"wtch_dt_end","paramtrBassValue":"2/7/20","paramtrDc":"실시간수질관측상세종료일시","paramtrTy":"string","paramtrDivision":"옵션","ck":true},{"paramtrNm":"_type","paramtrBassValue":"xml","paramtrDc":"페이지 문서 형태","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"numOfRows","paramtrBassValue":"10","paramtrDc":"페이지 크기","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"pageNo","paramtrBassValue":"1","paramtrDc":"페이지 번호","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"serviceKey","paramtrBassValue":"-","paramtrDc":"공공데이터포털에서 발급받은 인증키","paramtrTy":"string","paramtrDivision":"필수","ck":true}],"resList":[{"paramtrNm":"header","paramtrDc":"header","arrayYn":"N","paramtrDefNm":"#/definitions/oper-1-header","subDefNm":"oper-1-header","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"resultCode","paramtrDc":"결과코드","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"resultMsg","paramtrDc":"결과메세지","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true}]},{"paramtrNm":"body","paramtrDc":"body","arrayYn":"N","paramtrDefNm":"#/definitions/oper-1-body","subDefNm":"oper-1-body","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"items","paramtrDc":"items","arrayYn":"N","paramtrDefNm":"#/definitions/oper-1-items","subDefNm":"oper-1-items","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"item","paramtrDc":"item","arrayYn":"N","paramtrDefNm":"#/definitions/oper-1-item","subDefNm":"oper-1-item","paramtrTy":"object","paramtrDivision":"필수","ck":true,"subParam":[{"paramtrNm":"num","paramtrDc":"순번","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqWtchStaCd","paramtrDc":"실시간수질관측정점코드","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqWtchDtlDt","paramtrDc":"실시간수질관측상세일시","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWtchWtem","paramtrDc":"실시간관측수온","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqCndctv","paramtrDc":"실시간수질전기전도도","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"ph","paramtrDc":"수소이온농도","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqDoxn","paramtrDc":"실시간수질용존산소량","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqTu","paramtrDc":"실시간수질탁도","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqBgalgsQy","paramtrDc":"실시간수질남조류량","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqChpla","paramtrDc":"실시간수질클로로필","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true},{"paramtrNm":"rtmWqSlnty","paramtrDc":"실시간수질염분","arrayYn":"N","paramtrDefNm":"","paramtrTy":"string","paramtrDivision":"필수","ck":true}]}]},{"paramtrNm":"numOfRows","paramtrDc":"페이지 크기","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"pageNo","paramtrDc":"페이지 번호","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true},{"paramtrNm":"totalCount","paramtrDc":"전체 결과수","arrayYn":"N","paramtrDefNm":"","paramtrTy":"number","paramtrDivision":"필수","ck":true}]}]}]}