{
  "swagger": "2.0",
  "info": {
    "description": "나라장터 제공되는 계약과정통합공개를 구현한 서비스로 물품,외자,용역,공사 업무구분에 대하여 사용자가 [입찰공고번호,사전규격등록번호,발주계획번호,조달요청번호] 중 한 번호를 알고 있는 경우 해당 입찰공고의 진행과정 정보(사전규격정보,입찰공고정보,낙찰정보,계약정보목록 등)를 조회하는 서비스\\n\\n※ 관련 법령에 따라 사전규격정보 또는 발주계획정보가 존재하지 않아 발주계획번호가 없거나 사전규격등록번호가 존재하지 않는 입찰 또는 계약건이 존재할 수 있습니다.\\n※ 기관담당자가 전자조달시스템(나라장터)에서 조달 업무 전체를 모두 처리하지 않은 경우가 존재할 수 있으므로 입찰공고가 없는 계약건이 존재하거나 낙찰정보, 개찰정보가 존재하지 않는 입찰공고가 존재할 수 있습니다.",
    "version": "1.0.0",
    "title": "조달청_나라장터 계약과정통합공개서비스"
  },
  "host": "apis.data.go.kr/1230000/ao/CntrctProcssIntgOpenService",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getCntrctProcssIntgOpenFrgcpt": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderBizNm": {
                              "type": "string",
                              "description": "발주사업명",
                              "properties": {}
                            },
                            "orderPlanNo": {
                              "type": "string",
                              "description": "발주계획번호",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderYm": {
                              "type": "string",
                              "description": "발주년월",
                              "properties": {}
                            },
                            "prcrmntMethdNm": {
                              "type": "string",
                              "description": "조달방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "bfSpecBizNm": {
                              "type": "string",
                              "description": "사전규격사업명",
                              "properties": {}
                            },
                            "bfSpecDminsttNm": {
                              "type": "string",
                              "description": "사전규격수요기관명",
                              "properties": {}
                            },
                            "bfSpecNtceInsttNm": {
                              "type": "string",
                              "description": "사전규격공고기관명",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "bidDminsttNm": {
                              "type": "string",
                              "description": "입찰수요기관명",
                              "properties": {}
                            },
                            "bidMthdNm": {
                              "type": "string",
                              "description": "입찰방법명",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "bidwinrInfoList": {
                              "type": "string",
                              "description": "낙찰자정보목록",
                              "properties": {}
                            },
                            "cntrctInfoList": {
                              "type": "string",
                              "description": "계약정보목록",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약과정통합공개정보에 대한 외자조회",
        "description": "사용자가 [입찰공고번호,사전규격등록번호,발주계획번호,조달요청번호] 중 한 번호를 알고 있는 경우 해당 외자입찰공고의 업무 진행과정(발주계획번호,사업명,발주기관명,사전규격등록번호,입찰공고명,낙찰업체명,낙찰금액,낙찰률,계약번호,계약건명 등)을 조회 단, 입찰공고번호는 입찰공고차수를 입력하지 않아도 관련 공고 정보조회 가능",
        "operationId": "getCntrctProcssIntgOpenFrgcpt",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanNo",
          "description": "발주계획번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctProcssIntgOpenThng": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderBizNm": {
                              "type": "string",
                              "description": "발주사업명",
                              "properties": {}
                            },
                            "orderPlanNo": {
                              "type": "string",
                              "description": "발주계획번호",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderYm": {
                              "type": "string",
                              "description": "발주년월",
                              "properties": {}
                            },
                            "prcrmntMethdNm": {
                              "type": "string",
                              "description": "조달방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "bfSpecBizNm": {
                              "type": "string",
                              "description": "사전규격사업명",
                              "properties": {}
                            },
                            "bfSpecDminsttNm": {
                              "type": "string",
                              "description": "사전규격수요기관명",
                              "properties": {}
                            },
                            "bfSpecNtceInsttNm": {
                              "type": "string",
                              "description": "사전규격공고기관명",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "bidDminsttNm": {
                              "type": "string",
                              "description": "입찰수요기관명",
                              "properties": {}
                            },
                            "bidMthdNm": {
                              "type": "string",
                              "description": "입찰방법명",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "bidwinrInfoList": {
                              "type": "string",
                              "description": "낙찰자정보목록",
                              "properties": {}
                            },
                            "cntrctInfoList": {
                              "type": "string",
                              "description": "계약정보목록",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약과정통합공개정보에 대한 물품조회",
        "description": "사용자가 [입찰공고번호,사전규격등록번호,발주계획번호,조달요청번호] 중 한 번호를 알고 있는 경우 해당 물품입찰공고의 업무 진행과정(발주계획번호,사업명,발주기관명,사전규격등록번호,입찰공고명,낙찰업체명,낙찰금액,낙찰률,계약번호,계약건명 등)을 조회 단, 입찰공고번호는 입찰공고차수를 입력하지 않아도 관련 공고 정보조회 가능",
        "operationId": "getCntrctProcssIntgOpenThng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanNo",
          "description": "발주계획번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctProcssIntgOpenServc": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderBizNm": {
                              "type": "string",
                              "description": "발주사업명",
                              "properties": {}
                            },
                            "orderPlanNo": {
                              "type": "string",
                              "description": "발주계획번호",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderYm": {
                              "type": "string",
                              "description": "발주년월",
                              "properties": {}
                            },
                            "prcrmntMethdNm": {
                              "type": "string",
                              "description": "조달방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "bfSpecBizNm": {
                              "type": "string",
                              "description": "사전규격사업명",
                              "properties": {}
                            },
                            "bfSpecDminsttNm": {
                              "type": "string",
                              "description": "사전규격수요기관명",
                              "properties": {}
                            },
                            "bfSpecNtceInsttNm": {
                              "type": "string",
                              "description": "사전규격공고기관명",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "bidDminsttNm": {
                              "type": "string",
                              "description": "입찰수요기관명",
                              "properties": {}
                            },
                            "bidMthdNm": {
                              "type": "string",
                              "description": "입찰방법명",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "bidwinrInfoList": {
                              "type": "string",
                              "description": "낙찰자정보목록",
                              "properties": {}
                            },
                            "cntrctInfoList": {
                              "type": "string",
                              "description": "계약정보목록",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약과정통합공개정보에 대한 용역조회",
        "description": "사용자가 [입찰공고번호,사전규격등록번호,발주계획번호,조달요청번호] 중 한 번호를 알고 있는 경우 해당 용역입찰공고의 업무 진행과정(발주계획번호,사업명,발주기관명,사전규격등록번호,입찰공고명,낙찰업체명,낙찰금액,낙찰률,계약번호,계약건명 등)을 조회 단, 입찰공고번호는 입찰공고차수를 입력하지 않아도 관련 공고 정보조회 가능",
        "operationId": "getCntrctProcssIntgOpenServc",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanNo",
          "description": "발주계획번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    },
    "/getCntrctProcssIntgOpenCnstwk": {
      "get": {
        "responses": {
          "10": {
            "description": "OpenAPI 요청시 ServiceKey 파라미터가 없음"
          },
          "11": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "orderBizNm": {
                              "type": "string",
                              "description": "발주사업명",
                              "properties": {}
                            },
                            "orderPlanNo": {
                              "type": "string",
                              "description": "발주계획번호",
                              "properties": {}
                            },
                            "orderPlanUntyNo": {
                              "type": "string",
                              "description": "발주계획통합번호",
                              "properties": {}
                            },
                            "orderInsttNm": {
                              "type": "string",
                              "description": "발주기관명",
                              "properties": {}
                            },
                            "orderYm": {
                              "type": "string",
                              "description": "발주년월",
                              "properties": {}
                            },
                            "prcrmntMethdNm": {
                              "type": "string",
                              "description": "조달방식명",
                              "properties": {}
                            },
                            "cntrctCnclsMthdNm": {
                              "type": "string",
                              "description": "계약체결방법명",
                              "properties": {}
                            },
                            "bfSpecRgstNo": {
                              "type": "string",
                              "description": "사전규격등록번호",
                              "properties": {}
                            },
                            "bfSpecBizNm": {
                              "type": "string",
                              "description": "사전규격사업명",
                              "properties": {}
                            },
                            "bfSpecDminsttNm": {
                              "type": "string",
                              "description": "사전규격수요기관명",
                              "properties": {}
                            },
                            "bfSpecNtceInsttNm": {
                              "type": "string",
                              "description": "사전규격공고기관명",
                              "properties": {}
                            },
                            "opninRgstClseDt": {
                              "type": "string",
                              "description": "의견등록마감일시",
                              "properties": {}
                            },
                            "bidNtceNo": {
                              "type": "string",
                              "description": "입찰공고번호",
                              "properties": {}
                            },
                            "bidNtceOrd": {
                              "type": "string",
                              "description": "입찰공고차수",
                              "properties": {}
                            },
                            "prcrmntReqNo": {
                              "type": "string",
                              "description": "조달요청번호",
                              "properties": {}
                            },
                            "bidNtceNm": {
                              "type": "string",
                              "description": "입찰공고명",
                              "properties": {}
                            },
                            "bidDminsttNm": {
                              "type": "string",
                              "description": "입찰수요기관명",
                              "properties": {}
                            },
                            "bidMthdNm": {
                              "type": "string",
                              "description": "입찰방법명",
                              "properties": {}
                            },
                            "bidNtceDt": {
                              "type": "string",
                              "description": "입찰공고일시",
                              "properties": {}
                            },
                            "bidwinrInfoList": {
                              "type": "string",
                              "description": "낙찰자정보목록",
                              "properties": {}
                            },
                            "cntrctInfoList": {
                              "type": "string",
                              "description": "계약정보목록",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체 결과 수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지번호",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "02": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "03": {
            "description": "데이터 없음 에러"
          },
          "05": {
            "description": "제공기관 서비스 제공 상태가 원할하지 않습니다."
          },
          "06": {
            "description": "날짜 Default, Format Error"
          },
          "07": {
            "description": "요청하신 OpenAPI의 파라미터 입력값 범위가 초과 되었습니다."
          },
          "08": {
            "description": "요청하신 OpenAPI의 필수 파라미터가 누락되었습니다."
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "계약과정통합공개정보에 대한 공사조회",
        "description": "사용자가 [입찰공고번호,사전규격등록번호,발주계획번호,조달요청번호] 중 한 번호를 알고 있는 경우 해당 공사입찰공고 업무 진행과정(발주계획번호,사업명,발주기관명,사전규격등록번호,입찰공고명,낙찰업체명,낙찰금액,낙찰률,계약번호,계약건명 등)을 조회 단, 입찰공고번호는 입찰공고차수를 입력하지 않아도 관련 공고 정보조회 가능",
        "operationId": "getCntrctProcssIntgOpenCnstwk",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "inqryDiv",
          "description": "조회구분",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "bidNtceNo",
          "description": "입찰공고번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bidNtceOrd",
          "description": "입찰공고차수",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "bfSpecRgstNo",
          "description": "사전규격등록번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "orderPlanNo",
          "description": "발주계획번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "prcrmntReqNo",
          "description": "조달요청번호",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "type",
          "description": "타입",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getCntrctProcssIntgOpenFrgcpt_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "orderBizNm": {
                      "type": "string",
                      "description": "발주사업명"
                    },
                    "orderPlanNo": {
                      "type": "string",
                      "description": "발주계획번호"
                    },
                    "orderPlanUntyNo": {
                      "type": "string",
                      "description": "발주계획통합번호"
                    },
                    "orderInsttNm": {
                      "type": "string",
                      "description": "발주기관명"
                    },
                    "orderYm": {
                      "type": "string",
                      "description": "발주년월"
                    },
                    "prcrmntMethdNm": {
                      "type": "string",
                      "description": "조달방식명"
                    },
                    "cntrctCnclsMthdNm": {
                      "type": "string",
                      "description": "계약체결방법명"
                    },
                    "bfSpecRgstNo": {
                      "type": "string",
                      "description": "사전규격등록번호"
                    },
                    "bfSpecBizNm": {
                      "type": "string",
                      "description": "사전규격사업명"
                    },
                    "bfSpecDminsttNm": {
                      "type": "string",
                      "description": "사전규격수요기관명"
                    },
                    "bfSpecNtceInsttNm": {
                      "type": "string",
                      "description": "사전규격공고기관명"
                    },
                    "opninRgstClseDt": {
                      "type": "string",
                      "description": "의견등록마감일시"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "prcrmntReqNo": {
                      "type": "string",
                      "description": "조달요청번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "bidDminsttNm": {
                      "type": "string",
                      "description": "입찰수요기관명"
                    },
                    "bidMthdNm": {
                      "type": "string",
                      "description": "입찰방법명"
                    },
                    "bidNtceDt": {
                      "type": "string",
                      "description": "입찰공고일시"
                    },
                    "bidwinrInfoList": {
                      "type": "string",
                      "description": "낙찰자정보목록"
                    },
                    "cntrctInfoList": {
                      "type": "string",
                      "description": "계약정보목록"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getCntrctProcssIntgOpenThng_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "orderBizNm": {
                      "type": "string",
                      "description": "발주사업명"
                    },
                    "orderPlanNo": {
                      "type": "string",
                      "description": "발주계획번호"
                    },
                    "orderPlanUntyNo": {
                      "type": "string",
                      "description": "발주계획통합번호"
                    },
                    "orderInsttNm": {
                      "type": "string",
                      "description": "발주기관명"
                    },
                    "orderYm": {
                      "type": "string",
                      "description": "발주년월"
                    },
                    "prcrmntMethdNm": {
                      "type": "string",
                      "description": "조달방식명"
                    },
                    "cntrctCnclsMthdNm": {
                      "type": "string",
                      "description": "계약체결방법명"
                    },
                    "bfSpecRgstNo": {
                      "type": "string",
                      "description": "사전규격등록번호"
                    },
                    "bfSpecBizNm": {
                      "type": "string",
                      "description": "사전규격사업명"
                    },
                    "bfSpecDminsttNm": {
                      "type": "string",
                      "description": "사전규격수요기관명"
                    },
                    "bfSpecNtceInsttNm": {
                      "type": "string",
                      "description": "사전규격공고기관명"
                    },
                    "opninRgstClseDt": {
                      "type": "string",
                      "description": "의견등록마감일시"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "prcrmntReqNo": {
                      "type": "string",
                      "description": "조달요청번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "bidDminsttNm": {
                      "type": "string",
                      "description": "입찰수요기관명"
                    },
                    "bidMthdNm": {
                      "type": "string",
                      "description": "입찰방법명"
                    },
                    "bidNtceDt": {
                      "type": "string",
                      "description": "입찰공고일시"
                    },
                    "bidwinrInfoList": {
                      "type": "string",
                      "description": "낙찰자정보목록"
                    },
                    "cntrctInfoList": {
                      "type": "string",
                      "description": "계약정보목록"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getCntrctProcssIntgOpenServc_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "orderBizNm": {
                      "type": "string",
                      "description": "발주사업명"
                    },
                    "orderPlanNo": {
                      "type": "string",
                      "description": "발주계획번호"
                    },
                    "orderPlanUntyNo": {
                      "type": "string",
                      "description": "발주계획통합번호"
                    },
                    "orderInsttNm": {
                      "type": "string",
                      "description": "발주기관명"
                    },
                    "orderYm": {
                      "type": "string",
                      "description": "발주년월"
                    },
                    "prcrmntMethdNm": {
                      "type": "string",
                      "description": "조달방식명"
                    },
                    "cntrctCnclsMthdNm": {
                      "type": "string",
                      "description": "계약체결방법명"
                    },
                    "bfSpecRgstNo": {
                      "type": "string",
                      "description": "사전규격등록번호"
                    },
                    "bfSpecBizNm": {
                      "type": "string",
                      "description": "사전규격사업명"
                    },
                    "bfSpecDminsttNm": {
                      "type": "string",
                      "description": "사전규격수요기관명"
                    },
                    "bfSpecNtceInsttNm": {
                      "type": "string",
                      "description": "사전규격공고기관명"
                    },
                    "opninRgstClseDt": {
                      "type": "string",
                      "description": "의견등록마감일시"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "prcrmntReqNo": {
                      "type": "string",
                      "description": "조달요청번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "bidDminsttNm": {
                      "type": "string",
                      "description": "입찰수요기관명"
                    },
                    "bidMthdNm": {
                      "type": "string",
                      "description": "입찰방법명"
                    },
                    "bidNtceDt": {
                      "type": "string",
                      "description": "입찰공고일시"
                    },
                    "bidwinrInfoList": {
                      "type": "string",
                      "description": "낙찰자정보목록"
                    },
                    "cntrctInfoList": {
                      "type": "string",
                      "description": "계약정보목록"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    },
    "getCntrctProcssIntgOpenCnstwk_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "orderBizNm": {
                      "type": "string",
                      "description": "발주사업명"
                    },
                    "orderPlanNo": {
                      "type": "string",
                      "description": "발주계획번호"
                    },
                    "orderPlanUntyNo": {
                      "type": "string",
                      "description": "발주계획통합번호"
                    },
                    "orderInsttNm": {
                      "type": "string",
                      "description": "발주기관명"
                    },
                    "orderYm": {
                      "type": "string",
                      "description": "발주년월"
                    },
                    "prcrmntMethdNm": {
                      "type": "string",
                      "description": "조달방식명"
                    },
                    "cntrctCnclsMthdNm": {
                      "type": "string",
                      "description": "계약체결방법명"
                    },
                    "bfSpecRgstNo": {
                      "type": "string",
                      "description": "사전규격등록번호"
                    },
                    "bfSpecBizNm": {
                      "type": "string",
                      "description": "사전규격사업명"
                    },
                    "bfSpecDminsttNm": {
                      "type": "string",
                      "description": "사전규격수요기관명"
                    },
                    "bfSpecNtceInsttNm": {
                      "type": "string",
                      "description": "사전규격공고기관명"
                    },
                    "opninRgstClseDt": {
                      "type": "string",
                      "description": "의견등록마감일시"
                    },
                    "bidNtceNo": {
                      "type": "string",
                      "description": "입찰공고번호"
                    },
                    "bidNtceOrd": {
                      "type": "string",
                      "description": "입찰공고차수"
                    },
                    "prcrmntReqNo": {
                      "type": "string",
                      "description": "조달요청번호"
                    },
                    "bidNtceNm": {
                      "type": "string",
                      "description": "입찰공고명"
                    },
                    "bidDminsttNm": {
                      "type": "string",
                      "description": "입찰수요기관명"
                    },
                    "bidMthdNm": {
                      "type": "string",
                      "description": "입찰방법명"
                    },
                    "bidNtceDt": {
                      "type": "string",
                      "description": "입찰공고일시"
                    },
                    "bidwinrInfoList": {
                      "type": "string",
                      "description": "낙찰자정보목록"
                    },
                    "cntrctInfoList": {
                      "type": "string",
                      "description": "계약정보목록"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체 결과 수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            },
            "pageNo": {
              "type": "string",
              "description": "페이지번호"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://nopenapi.g2b.go.kr/ao/CntrctProcssIntgOpenService/getCntrctProcssIntgOpenCnstwk",
      "oprtinNm": "계약과정통합공개정보에 대한 공사조회",
      "oprtinDc": "사용자가 [입찰공고번호,사전규격등록번호,발주계획번호,조달요청번호] 중 한 번호를 알고 있는 경우 해당 공사입찰공고 업무 진행과정(발주계획번호,사업명,발주기관명,사전규격등록번호,입찰공고명,낙찰업체명,낙찰금액,낙찰률,계약번호,계약건명 등)을 조회 단, 입찰공고번호는 입찰공고차수를 입력하지 않아도 관련 공고 정보조회 가능",
      "gwSvcNm": "getCntrctProcssIntgOpenCnstwk",
      "operationId": "getCntrctProcssIntgOpenCnstwk",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "inqryDiv",
          "paramtrDc": "조회구분",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "bidNtceNo",
          "paramtrDc": "입찰공고번호",
          "paramtrBassValue": "20160618729",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "bidNtceOrd",
          "paramtrDc": "입찰공고차수",
          "paramtrBassValue": "000",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "bfSpecRgstNo",
          "paramtrDc": "사전규격등록번호",
          "paramtrBassValue": "368604",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "orderPlanNo",
          "paramtrDc": "발주계획번호",
          "paramtrBassValue": "3-1-2016-8031000-000038",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "prcrmntReqNo",
          "paramtrDc": "조달요청번호",
          "paramtrBassValue": "2017000200",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "type",
          "paramtrDc": "타입",
          "paramtrBassValue": "json",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "orderBizNm",
                      "paramtrDc": "발주사업명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "orderPlanNo",
                      "paramtrDc": "발주계획번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "orderPlanUntyNo",
                      "paramtrDc": "발주계획통합번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "orderInsttNm",
                      "paramtrDc": "발주기관명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "orderYm",
                      "paramtrDc": "발주년월",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "prcrmntMethdNm",
                      "paramtrDc": "조달방식명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "cntrctCnclsMthdNm",
                      "paramtrDc": "계약체결방법명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bfSpecRgstNo",
                      "paramtrDc": "사전규격등록번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bfSpecBizNm",
                      "paramtrDc": "사전규격사업명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bfSpecDminsttNm",
                      "paramtrDc": "사전규격수요기관명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bfSpecNtceInsttNm",
                      "paramtrDc": "사전규격공고기관명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "opninRgstClseDt",
                      "paramtrDc": "의견등록마감일시",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidNtceNo",
                      "paramtrDc": "입찰공고번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidNtceOrd",
                      "paramtrDc": "입찰공고차수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "prcrmntReqNo",
                      "paramtrDc": "조달요청번호",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidNtceNm",
                      "paramtrDc": "입찰공고명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidDminsttNm",
                      "paramtrDc": "입찰수요기관명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidMthdNm",
                      "paramtrDc": "입찰방법명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidNtceDt",
                      "paramtrDc": "입찰공고일시",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidwinrInfoList",
                      "paramtrDc": "낙찰자정보목록",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "cntrctInfoList",
                      "paramtrDc": "계약정보목록",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "numOfRows",
              "paramtrDc": "한 페이지 결과 수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "pageNo",
              "paramtrDc": "페이지번호",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}